{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block h1_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<div class="card max-w-2xl bg-base-100 border border-neutral-400 p-3 my-2 max-w-[350px] mx-auto">
	<p class="max-w-[400px] mx-auto">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}" class="link text-blue-700 dark:text-blue-300">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
  <div class="divider"></div> 

<div class="socialaccount_ballot">

  <div class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>

  <div class="login-or my-5 divider">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="max-w-[450px] mx-auto text-left">
	{{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction w-full" type="submit">{% trans "Sign In" %}</button>
  </div>
</form>
</div>
<style>
	#theNavbar, #theFooter {
		border: none !important;
	}
	#profileBtn, #allProblemsBtn {
		display: none;
	}
</style>
{% endblock %}
