{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block h1_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="btn btn-sm btn-warning">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="link text-blue-700 dark:text-blue-300">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
