{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block h1_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<style>
  body {
    max-width: 600px !important;
  }
  @media screen and (max-width: 550px) {
    #formRuleFlex {
      flex-direction: column !important;
    }
  }
</style>
<div style="border: 0.1em solid; border-radius: 0.5em; max-width: 600px; margin-left: auto; margin-right: auto; padding: 1em; padding-top: 0em !important; margin-top: 0.5em;">
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %} <b>Read rules (may be at bottom of page) before signing up</b></p>
  <div class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>
<div id="formRuleFlex" style="display: flex; flex-direction: row;">
  <div style="margin-right: 1em;">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
  <div>
    <p><b>The rules:</b></p>
    <ul>
      <li>Usernames must be 35 characters or fewer. Usernames may contain alphanumeric, _, @, +, . and - characters.</li>
      <li>Emails cannot be disposable to prevent spam</li>
      <li>
        You agree with <a href="{% url 'about-rules' %}" target="_blank" rel="noopener noreferrer">the rules of this website</a>
        and agree with <a href="{% url 'about-privacy' %}" target="_blank" rel="noopener noreferrer">the privacy notice</a> by creating an account.
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
