<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Starlight</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">		
	</head>
  <body style="background-color: #eef2ff; padding: 1em;">
    <table style="background-color: white; font-size: medium; max-width: 900px; width: 90%; margin-left: auto; margin-right: auto; border-radius: 1em; padding: 1em; margin-top: 2em; border-top: 0.4em #aa7aa1 solid;">
    <tr><td>
      <h2>&#x1F320; Amazon Giftcard Raffle: Starlight Problem Solving</h2>
      <p>Hi Starlight Problem Solving!</p>
      <p>We are doing an <span style="color: rgb(26,92,199);font-size: 1.2em;"><strong>Amazon Giftcard Raffle</strong></span> where one lucky winner will win a giftcard <span style="color: green;font-size: 1.1em;"> <strong>up to $100</strong></span>. The prize will depend on participation, so <b>please share this</b>! (This giveaway may be canceled due to lack of participation.)</p>
      <p><span style="color: rgb(199,26,185);font-size: 1.2em;"> <strong>In order to qualify</strong>,</span> you must post <b>at least 15 relevant insights OR hints to problems</b> on <a href="https://starlightps.org" rel="noopener noreferer" target="_blank">Starlight Problem Solving</a>. To draw a winner, we will select a random insight/hint over all insights/hints of qualified users, <b>so posting more increases your chance of winning</b>. The raffle will end on <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Starlight+Problem+Solving+Raffle+END+date&iso=20230920T04&p1=1440" rel="noopener noreferer" target="_blank">September 20, 2023 at 04:00 AM UTC</a>.</p>
      <center><p style="margin-top: 2em; margin-bottom: 2em;"><a href="https://starlightps.org" style="text-decoration: none;font-size: 1.0em;color: rgb(30,64,175);font-weight: bold;background-color: rgb(219,234,254);padding: 0.5em 1.0em;">Join the website &rarr; starlightps.org</a></p></center>
      <p>As a reminder, this will help Starlight Problem Solving have <b>enough insights/hints</b> to allow users to <b>discover key insights/hints</b> of problems and find <b>similar problems</b> given insights they struggled with. <a href="https://codeforces.com/blog/entry/11965" target="_blank" rel="noopener noreferer">More details here</a>.</p>
      <p>To help get you started, here are collections of problems of recent contests where you can post insights
      <ul>
        <li><b>Codeforces</b>: <a href="https://starlightps.org/problems/collection/cf-edu-154/" target="_blank" rel="noopener noreferer">Codeforces Edu Round 154</a> and <a href="https://starlightps.org/problems/collection/cf-pinely-2/" target="_blank" rel="noopener noreferer">Codeforces Pinely Round 2</a>.</li>
        <br/>
        <li><b>2022-2023 American Math Competition problems</b>: <a href="https://starlightps.org/problems/collection/2022-amc-10a" target="_blank" rel="noopener noreferer">2022 AMC 10A</a> |
            <a href="https://starlightps.org/problems/collection/2022-amc-10b" target="_blank" rel="noopener noreferer">2022 AMC 10B</a> |
            <a href="https://starlightps.org/problems/collection/2022-amc-12a" target="_blank" rel="noopener noreferer">2022 AMC 12A</a> |
            <a href="https://starlightps.org/problems/collection/2022-amc-12b" target="_blank" rel="noopener noreferer">2022 AMC 12B</a> |
            <a href="https://starlightps.org/problems/collection/2023-amc-8" target="_blank" rel="noopener noreferer">2023 AMC 8</a> |
            <a href="https://starlightps.org/problems/collection/2023-aime-i" target="_blank" rel="noopener noreferer">2023 AIME I</a> |
            <a href="https://starlightps.org/problems/collection/2023-aime-ii" target="_blank" rel="noopener noreferer">2023 AIME II</a> |
            <a href="https://starlightps.org/problems/collection/2023-usajmo" target="_blank" rel="noopener noreferer">2023 USAJMO</a> |
            <a href="https://starlightps.org/problems/collection/2023-usamo" target="_blank" rel="noopener noreferer">2023 USAMO</a>
        </li>
        <br/>
        <li>Here are collections of <b>2022-2023 USACO Problems</b>: <a href="https://starlightps.org/problems/collection/2223-usaco-bronze/" target="_blank" rel="noopener noreferer">Bronze</a>, <a href="https://starlightps.org/problems/collection/2223-usaco-silver/" target="_blank" rel="noopener noreferer">Silver</a>, <a href="https://starlightps.org/problems/collection/2223-usaco-gold/" target="_blank" rel="noopener noreferer">Gold</a>, <a href="https://starlightps.org/problems/collection/2223-usaco-plat/" target="_blank" rel="noopener noreferer">Platinum</a>.</li>
      </ul>
      <p><b>Please also use <a href="https://starlightps.org/journal" target="_blank" rel="noopener noreferer">the journal feature</a> to store all problems you solve while practicing and their insights!</b></p>
      <p><center style="margin: 1em;"> <a href="https://starlightps.org" style="text-decoration: none;font-size: large;background-color: rgb(254,225,43);color: black;font-weight: bold;padding: 0.5em 1.0em; display: inline-block;">Join the website and post insights/hints to enter! &rarr; starlightps.org</a></center></p>
      <ul>
        <li>You can help us out by sharing this website by copy-pasting ads here: <a href="https://tinyurl.com/starlightps-ads" rel="noopener noreferer" target="_blank">Ads here</a>.</li>
        <li>Join our community here: <a href="https://discord.gg/czgReQSpFz" rel="noopener noreferer" target="_blank">Discord community</a>.</li>
        <li>Here is a Google Form to fill out with your qualifications if you are interested in joining us: <a href="https://forms.gle/txpWvcZwWxD1yVog6" rel="noopener noreferer" target="_blank">Google form</a>.</li>
      </ul>
      <p>Thank you!<br/>
      Starlight Problem Solving
      </p>
      <img alt=" " src="https://codeforces.com/predownloaded/93/f3/93f307c776fd76533965e05be047ded8917c4bef.png" style="max-width: 100.0%;max-height: 100.0%;">
    </td></tr>
    </table>
  </body>
</html>
