<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>&#x1F320; Starlight: Update Insight</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="" id="lightDarkStylesheet" />
	</head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>&#x1F320; Starlight: Update Insight</h1>
			</div>
			<div style="float: right; margin-left: 0.7em;">
                <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-left: 0.5em;">
                    <div style="margin-right: 0.5em; display: block;">
                        <button style="background-color: transparent; margin: initial; padding: initial; display: block;" id="colorModeIndBtn">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                            </div>
                        </button>
                    </div>
					<div>
				        {% if user.is_authenticated %}
					        <a href="{% url 'profile' %}">{{ user.username }}</a> |
					        <a href="{% url 'logout' %}">Logout</a>
				        {% else %}
                            <a href="{% url 'login' %}?next={{ full_path|urlencode }}">Login</a> |
					        <a href="{% url 'register' %}">Register</a>
				        {% endif %}
                    </div>
                </div>
			</div>
    		<script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		</div>
        <form method="post">{% csrf_token %}
            {{ form }}
			<p style="margin-top: 0.3em;"><b>Characters left:</b> <span id="charactersLeft"></span></p>
			<button type="submit" class="bg-blue">Update insight</button>
            <a href="{% url 'problems-view' object.problem_id %}?type=insight" class="buttonLink bg-gray">Cancel</button>
        </form>
    </body>
	<script type="text/javascript" src="{% static 'js/showCharactersLeft.js' %}"></script>
	<style>
		textarea {
			width: min(96%, 850px);
			height: 8em;
		}
		label {
			font-size: large;
			font-weight: bold;
		}
	</style>
</html>