<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Starlight: List of Problems</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">        
        <script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}" />
        <link rel="icon" href="{% static 'emoji/logo.png' %}" type="image/png" />
	</head>
    <body>
		<div>
                <div class="mx-auto flex-none p-2 text-center border-b dark:border-neutral min-[685px]:navbar">
					<div class="navbar-start">
					</div>
					<div class="navbar-center">
						<div class="flex justify-center items-center mt-3">
                    <svg class="mr-2 max-[685px]:inline" width="35" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="#269" d="M36 32c0 2.209-1.791 4-4 4H4c-2.209 0-4-1.791-4-4V4c0-2.209 1.791-4 4-4h28c2.209 0 4 1.791 4 4v28z"/><path fill="#F4900C" d="M11 9s7.29-4.557 21-4.969c.652-.02 2-.031 2 .969-6 9-9 23-9 23L11 9z"/><path fill="#FFAC33" d="M12 16S24 5 32 4.031C32.647 3.952 34 4 34 5c-7 4-12 19-12 19l-10-8z"/><path fill="#FFD983" d="M15.156 12.438c.826.727 2.388 1.164 3.471.972l4.892-.866c1.084-.192 1.613.478 1.178 1.488l-1.968 4.563c-.436 1.01-.369 2.63.148 3.602l2.335 4.384c.518.972.044 1.682-1.051 1.58l-4.947-.463c-1.095-.102-2.616.462-3.379 1.254l-3.45 3.577c-.763.792-1.585.562-1.827-.512L9.469 27.17c-.241-1.073-1.248-2.345-2.237-2.827l-4.467-2.175c-.989-.481-1.024-1.335-.078-1.896l4.274-2.534c.946-.561 1.845-1.911 1.997-3.001l.689-4.92c.152-1.09.953-1.387 1.779-.66l3.73 3.281z"/></svg>
                    <a class="text-3xl my-1">
                        Starlight</a>
                        </div>
					</div>
					 <div class="min-[685px]:navbar-end max-[685px]:mx-auto">
                    <ul class="menu menu-horizontal px-1">
                        <li><button class="btn-sm" id="colorModeIndBtn">
                            <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                        </button></li>
                        {% if user.is_authenticated %}
                            <li><a class="btn-sm" href="{% url 'profile' %}">{{ user.username }}</a></li>
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li><a class="btn-sm" href="{% url 'login' %}?next={{ full_path|urlencode }}">Login</a></li>
                            <li><a class="btn-sm" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                <script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
            </div>
		<main class="mt-2 mx-auto w-11/12 max-w-screen-md">
        {% if request.user.is_authenticated %}
            <div style="margin-bottom: 0.3em;">
				<div class="tooltip tooltip-right before:max-w-[80vw]" data-tip="The journal stores insights of problems you desire">
					<button class="btn btn-sm btn-outline mr-2 !max-h-9 h-9">&#9432;</button>
				</div>
				<a href="{% url 'journal' %}" class="link text-blue-700 dark:text-blue-300" style="font-size:1.5em; font-weight: bold;">Go to journal</a><span style="font-size:1.5em;"> | </span><a href="{% url 'import' %}" class="link text-blue-700 dark:text-blue-300" style="font-size:1.5em; font-weight: bold;">Import insights from spreadsheet</a>
			</div>
        {% endif %}
        <p style="margin-top: 0px;">
            Over <u><b>20,000</b></u> problems available: AMC 8/10/12 and AIME problems from 2010-2023; USAJMO/USAMO problems from
            2002-2023; USACO problems from 2014 to 2024 (all divisions); all Codeforces, AtCoder and DMOJ problems. If you leave the search field blank,
            it returns all problems with the specified type.
		</p>
        <form method="GET" action="{% url 'problems-list' %}" style="display: flex; flex-wrap: wrap; gap: 0.3em; align-items: center; justify-content: center; margin-top: 10px;">
            <input type="text" name="search" placeholder="Search for a problem.. (max length 200)" maxlength="200" value="{{ request.GET.search }}" class="placeholder:text-neutral-500 dark:placeholder:text-neutral-400 input input-bordered !min-h-9 h-9 sm:w-1/2 w-3/4 max-w-md">
            <div class="text-center">
				<select name="problemType" id="problemType" class="select select-bordered !min-h-9 h-9">
				  {% if request.GET.problemType == None or request.GET.problemType == "" %}
					<option value="" selected>Type: all</option>
				  {% else %}
					<option value="">Type: all</option>
				  {% endif %}
				  {% if request.GET.problemType == "codeforces" %}
					<option value="codeforces" selected>Codeforces</option>
				  {% else %}
					<option value="codeforces">Codeforces</option>
				  {% endif %}
				  {% if request.GET.problemType == "atcoder" %}
					<option value="atcoder" selected>AtCoder</option>
				  {% else %}
					<option value="atcoder">AtCoder</option>
				  {% endif %}
				  {% if request.GET.problemType == "dmoj" %}
					<option value="dmoj" selected>DMOJ</option>
				  {% else %}
					<option value="dmoj">DMOJ</option>
				  {% endif %}
				  {% if request.GET.problemType == "usaco" %}
					<option value="usaco" selected>USACO</option>
				  {% else %}
					<option value="usaco">USACO</option>
				  {% endif %}
				  {% if request.GET.problemType == "AMC_8" %}
					<option value="AMC_8" selected>AMC 8</option>
				  {% else %}
					<option value="AMC_8">AMC 8</option>
				  {% endif %}
				  {% if request.GET.problemType == "AMC_10" %}
					<option value="AMC_10" selected>AMC 10</option>
				  {% else %}
					<option value="AMC_10">AMC 10</option>
				  {% endif %}
				  {% if request.GET.problemType == "AMC_12" %}
					<option value="AMC_12" selected>AMC 12</option>
				  {% else %}
					<option value="AMC_12">AMC 12</option>
				  {% endif %}
				  {% if request.GET.problemType == "AIME" %}
					<option value="AIME" selected>AIME</option>
				  {% else %}
					<option value="AIME">AIME</option>
				  {% endif %}
				  {% if request.GET.problemType == "USAJMO" %}
					<option value="USAJMO" selected>USAJMO</option>
				  {% else %}
					<option value="USAJMO">USAJMO</option>
				  {% endif %}
				  {% if request.GET.problemType == "USAMO" %}
					<option value="USAMO" selected>USAMO</option>
				  {% else %}
					<option value="USAMO">USAMO</option>
				  {% endif %}
				</select>
                <button type="submit" class="btn btn-primary mr-1 !min-h-9 h-9">Search</button><a href="{% url 'problems-list' %}" class="buttonLink btn btn-secondary !min-h-9 h-9">Reset</a>
            </div>
        </form>
        <div class="p-2 dark:border-neutral mt-2" style="margin-bottom: 0.5em !important;">
            <details>
            <p>
                <summary><b>Need help searching?</b> Click for format/examples of problems</summary>
                <ul class="list-disc ml-10">
                    <li><b>AMC 8:</b> [year] AMC 8 Problem #, <i>Ex: 2013 AMC 8 Problem 1</i></li>
                    <li><b>AMC 10:</b> [year] AMC 10A Problem # OR [year] AMC 10B Problem #, <i>Ex: 2015 AMC 10A Problem 16</i></li>
                    <li><b>AMC 12:</b> [year] AMC 12A Problem # OR [year] AMC 12B Problem #, <i>Ex: 2021 AMC 12B Problem 25</i></li>
                    <li><b>AIME:</b> [year] AIME I Problem # OR [year] AIME II Problem #, <i>Ex: 2013 AIME I Problem 8</i></li>
                    <li><b>USAJMO/USAMO:</b> [year] USAJMO/USAMO Problem #, <i>Ex: 2023 USAJMO Problem 1</i></li>
                    <li><b>Codeforces:</b> Codeforces [contest id (e.g. 101)][problem id (e.g. A, B, C)]: [Codeforces problem name], <i>Ex: Codeforces 1336F: Journey</i></li>
                    <li><b>AtCoder:</b> AtCoder [contest id (e.g. ABC314, ARC164, ZONE2021)]: [problem id (A, B, C)]. [Problem name], <i>Ex: AtCoder ZONE2021: E. Sneaking</i></li>
                    <li><b>DMOJ:</b> DMOJ [contest name (if applicable)] [problem number (e.g. P1)] - [Problem name], <i>Ex: DMOJ Yet Another Contest 3 P1 - Shell Swap Scam</i></li>
                    <li><b>USACO:</b> [year] [contest month (e.g. January, US Open)], [division (e.g. Gold)]: [Problem name], <i>Ex: USACO 2023 US Open Contest, Bronze: Rotate and Shift</i></li>
                </ul>
            </p>
            </details>
        </div>
        {% if messages %}
            <div id="messages">
            {% for message in messages %}
                <div class="m-2 alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                <div class="alert-error alert-info alert-success alert-warning"></div>
            {% endfor %}
            </div>
        {% endif %}
        {% if page_obj %}
            <table class="table border-t border-b dark:border-neutral"><tbody>
                <tr>
                    <th>ID</th>
                    <th>Problem Name (click to add insights/hints, view summary of insights/hints and similar problems)</th>
                    {% if request.user.is_authenticated %}	
                        <th>Journal</th>
                    {% endif %}
                </tr>
                {% for problem in page_obj %}
                    <tr>
                        <td>{{ problem.id }}</td>
                        <td><a class="link text-blue-700 dark:text-blue-300" href="{% url 'problems-view' problem.id %}">{{ problem.name }}</a></td>
                        {% if request.user.is_authenticated %}	
                            <td><a href="{% url 'journal-create' problem.id %}?next={{ full_path|urlencode }}#messages" class="btn btn-outline m-1" style="margin: 0px 0px 0px 0px !important;">Add to journal</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody></table>
        {% endif %}
        <div class="pagination">
            {% if page_obj.has_previous %}
   	        	<a class="link text-blue-700 dark:text-blue-300 text-xl" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">&larr;</a>
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
   	        	<a class="link text-blue-700 dark:text-blue-300 text-xl" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">&rarr;</a>
			{% endif %}
        </div>
        <details>
			<summary>View links to all pages</summary>
            {% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
                     <a class="link text-blue-700 dark:text-blue-300 bg-neutral-300 dark:bg-neutral-700 p-1.5" href="?page={{ forloop.counter }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">{{ forloop.counter }}</a>
                {% else %}
                     <a class="link text-blue-700 dark:text-blue-300 p-1.5" href="?page={{ forloop.counter }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </details>
        <div style="text-align: center; font-size: smaller; margin-top: 1em; padding: 0.5em;" class="border-t dark:border-neutral">
            <p>
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-starlight' %}">About</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-privacy' %}">Privacy Notice</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-rules' %}">Rules</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'problems-list' %}">Problems list</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'journal' %}">Journal</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'profile' %}">Your profile</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="https://github.com/bkf2020/starlight" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
            <p>
                <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/59841/moon-symbol">Moon Symbol</a> icon by <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/9313/sun">Sun</a> icon by <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                Emojis from <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://twemoji.twitter.com/">Twemoji</a> by Twitter under <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/4.0/">CC by 4.0</a>
            </p>
        </div>
        </main>
    </body>
</html>
