<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Starlight: List of Problems</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">        
        <script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="icon" href="{% static 'emoji/logo.png' %}" type="image/png" />
	</head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center;">
                <div style="display: flex; justify-content: center; align-items: center; margin-right: 0.5em;"><object style="display: inline-block;" data="{% static 'emoji/1f320.svg' %}" width="35" height="35"></object></div>
				<div><h1 style="display: inline-block;">Starlight: List of Problems</h1></div>
			</div>
			<div style="float: right; margin-left: 0.7em;">
                <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-left: 0.5em;">
                    <div style="margin-right: 0.5em; display: block;">
                        <button style="background-color: transparent; margin: initial; padding: initial; display: block;" id="colorModeIndBtn">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                            </div>
                        </button>
                    </div>
					<div>
				        {% if user.is_authenticated %}
					        <a href="{% url 'profile' %}">{{ user.username }}</a> |
					        <a href="{% url 'logout' %}">Logout</a>
				        {% else %}
                            <a href="{% url 'login' %}?next={{ full_path|urlencode }}">Login</a> |
					        <a href="{% url 'register' %}">Register</a>
				        {% endif %}
                    </div>
                </div>
			</div>
            <script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
		</div>
        {% if request.user.is_authenticated %}
            <div style="margin-bottom: 0.8em;"><a href="{% url 'import' %}" style="font-size: 1.5em; font-weight: bold;">Import insights from spreadsheet</a></div>
        {% endif %}
        <p style="margin-top: 0px;">
            Over <u><b>20,000</b></u> problems available. AMC 8/10/12 and AIME problems from 2010-2023; USAJMO/USAMO problems from
            2002-2023 available. USACO problems from 2014 to 2023 (all divisions). Codeforces, AtCoder, DMOJ problems are added daily
            around 04:00 AM UTC, <b>which may cause disruptions</b>.
        </p>
        <form method="GET" action="{% url 'problems-list' %}" style="display: flex; flex-wrap: wrap; gap: 0.3em; align-items: center; justify-content: center;">
            <input type="text" name="search" placeholder="Search for a problem.. (max length 200)" maxlength="200" value="{{ request.GET.search }}" style="width: 80%; max-width: 700px; border-radius: 0.5em; height: 2em; font-size: inherit; font-family: inherit; border: 2px #81a1c1 solid; padding: 0.1em;">
            <input type="text" name="problemType" placeholder="Problem type.." value="{{ request.GET.problemType }}" style="display: none;">
            <div>
                <button type="submit" class="bg-blue">Search</button><a href="{% url 'problems-list' %}?problemType={{ request.GET.problemType }}" class="buttonLink bg-cyan">Reset</a>
            </div>
        </form>
        <div style="text-align: center; margin-top: 0.5em;">
            <b>Filter by type: </b>
            {% if request.GET.problemType == None or request.GET.problemType == "" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}" class="buttonLink bg-red">All</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}" class="buttonLink">All</a>
            {% endif %}
            {% if request.GET.problemType == "codeforces" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=codeforces" class="buttonLink bg-red">Codeforces</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=codeforces" class="buttonLink">Codeforces</a>
            {% endif %}
            {% if request.GET.problemType == "atcoder" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=atcoder" class="buttonLink bg-red">AtCoder</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=atcoder" class="buttonLink">AtCoder</a>
            {% endif %}
            {% if request.GET.problemType == "dmoj" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=dmoj" class="buttonLink bg-red">DMOJ</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=dmoj" class="buttonLink">DMOJ</a>
            {% endif %}
            {% if request.GET.problemType == "usaco" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=usaco" class="buttonLink bg-red">USACO</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=usaco" class="buttonLink">USACO</a>
            {% endif %}
            {% if request.GET.problemType == "AMC_8" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AMC_8" class="buttonLink bg-red">AMC 8</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AMC_8" class="buttonLink">AMC 8</a>
            {% endif %}
            {% if request.GET.problemType == "AMC_10" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AMC_10" class="buttonLink bg-red">AMC 10</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AMC_10" class="buttonLink">AMC 10</a>
            {% endif %}
            {% if request.GET.problemType == "AMC_12" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AMC_12" class="buttonLink bg-red">AMC 12</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AMC_12" class="buttonLink">AMC 12</a>
            {% endif %}
            {% if request.GET.problemType == "AIME" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AIME" class="buttonLink bg-red">AIME</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=AIME" class="buttonLink">AIME</a>
            {% endif %}
            {% if request.GET.problemType == "USAJMO" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=USAJMO" class="buttonLink bg-red">USAJMO</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=USAJMO" class="buttonLink">USAJMO</a>
            {% endif %}
            {% if request.GET.problemType == "USAMO" %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=USAMO" class="buttonLink bg-red">USAMO</a>
            {% else %}
                <a href="{% url 'problems-list' %}?search={{ request.GET.search|urlencode }}&problemType=USAMO" class="buttonLink">USAMO</a>
            {% endif %}
        </div>
        <div class="alert bg-green" style="margin-bottom: 0.5em !important;">
            <details>
            <p>
                <summary><b>Need help searching?</b> Click for format/examples of problems</summary>
                <ul>
                    <li><b>AMC 8:</b> [year] AMC 8 Problem #, <i>Ex: 2013 AMC 8 Problem 1</i></li>
                    <li><b>AMC 10:</b> [year] AMC 10A Problem # OR [year] AMC 10B Problem #, <i>Ex: 2015 AMC 10A Problem 16</i></li>
                    <li><b>AMC 12:</b> [year] AMC 12A Problem # OR [year] AMC 12B Problem #, <i>Ex: 2021 AMC 12B Problem 25</i></li>
                    <li><b>AIME:</b> [year] AIME I Problem # OR [year] AIME II Problem #, <i>Ex: 2013 AIME I Problem 8</i></li>
                    <li><b>USAJMO/USAMO:</b> [year] USAJMO/USAMO Problem #, <i>Ex: 2023 USAJMO Problem 1</i></li>
                    <li><b>Codeforces:</b> Codeforces [contest id (e.g. 101)][problem id (e.g. A, B, C)]: [Codeforces problem name], <i>Ex: Codeforces 1336F: Journey</i></li>
                    <li><b>AtCoder:</b> AtCoder [contest id (e.g. ABC314, ARC164, ZONE2021)]: [problem id (A, B, C)]. [Problem name], <i>Ex: AtCoder ZONE2021: E. Sneaking</i></li>
                    <li><b>DMOJ:</b> DMOJ [contest name (if applicable)] [problem number (e.g. P1)] - [Problem name], <i>Ex: DMOJ Yet Another Contest 3 P1 - Shell Swap Scam</i></li>
                    <li><b>USACO:</b> [year] [contest month (e.g. January, US Open)], [division (e.g. Gold)]: [Problem name], <i>Ex: USACO 2023 US Open Contest, Bronze: Rotate and Shift</i></li>
                </ul>
            </p>
            </details>
        </div>
        {% if request.user.is_authenticated %}
			<a class="bg-cyan buttonLink" href="{% url 'journal' %}" style="margin-bottom: 0.6em;">Go to journal</a> (The journal stores insights and statuses of problems you solved/are working on)
		{% endif %}
        {% if messages %}
            <div id="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% if page_obj %}
            <table><tbody>
                <tr>
                    <th>ID</th>
                    <th>Problem Name (click to add insights/hints, view summary of insights/hints and similar problems)</th>
                    {% if request.user.is_authenticated %}	
                        <th>Journal</th>
                    {% endif %}
                </tr>
                {% for problem in page_obj %}
                    <tr>
                        <td>{{ problem.id }}</td>
                        <td><a href="{% url 'problems-view' problem.id %}">{{ problem.name }}</a></td>
                        {% if request.user.is_authenticated %}	
                            <td><a href="{% url 'journal-create' problem.id %}?next={{ full_path|urlencode }}#messages" class="buttonLink bg-blue" style="margin: 0px 0px 0px 0px !important;">Add to journal</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody></table>
        {% endif %}
        <div class="pagination">
            {% if page_obj.has_previous %}
   	        	<a class="paginationLink paginationArrow" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">&larr;</a>
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
   	        	<a class="paginationLink paginationArrow" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">&rarr;</a>
			{% endif %}
        </div>
        <details>
			<summary>View links to all pages</summary>
            {% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
                     <a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">{{ forloop.counter }}</a>
                {% else %}
                     <a class="paginationLink" href="?page={{ forloop.counter }}&search={{ request.GET.search|urlencode }}&problemType={{ request.GET.problemType }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </details>
        <div style="text-align: center; font-size: smaller; border-top: 0.1em solid; margin-top: 1em;">
            <p>
                <a href="{% url 'about-starlight' %}">About</a> &#8226;
                <a href="{% url 'about-privacy' %}">Privacy Notice</a> &#8226;
                <a href="{% url 'about-rules' %}">Rules</a> &#8226;
                <a href="{% url 'problems-list' %}">Problems list</a> &#8226;
                <a href="{% url 'journal' %}">Journal</a> &#8226;
                <a href="{% url 'profile' %}">Your profile</a> &#8226;
                <a href="https://github.com/bkf2020/starlight" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/59841/moon-symbol">Moon Symbol</a> icon by <a target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                <a target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/9313/sun">Sun</a> icon by <a target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                Emojis from <a target="_blank" rel="noopener noreferrer" href="https://twemoji.twitter.com/">Twemoji</a> by Twitter under <a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/4.0/">CC by 4.0</a>
            </p>
        </div>
    </body>
</html>