<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>&#x1F320; Starlight: {{ problem.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="" id="lightDarkStylesheet" />
	</head>
    <body>
		<div style="border-bottom: 0.1em solid;">
			<div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>&#x1F320; Starlight: Add/edit hints or insights</h1>
			</div>
			<div style="float: right; margin-left: 0.7em;">
                <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-left: 0.5em;">
                    <div style="margin-right: 0.5em; display: block;">
                        <button style="background-color: transparent; margin: initial; padding: initial; display: block;" id="colorModeIndBtn">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                            </div>
                        </button>
                    </div>
					<div>
				        {% if user.is_authenticated %}
					        <a href="{% url 'profile' %}">{{ user.username }}</a> |
					        <a href="{% url 'logout' %}">Logout</a>
				        {% else %}
                            <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					        <a href="{% url 'register' %}">Register</a>
				        {% endif %}
                    </div>
                </div>
    			<script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
			</div>
			</div>
			<h2 style="margin-top: 0px; margin-bottom: 0.5em;">From Problem: <a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a></h2>
			{% if messages %}
				<div id="messages">
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
				</div>
			{% endif %}
			<div style="margin-bottom: 0.3em;">
				{% if request.user.is_authenticated %}
					<a class="buttonLink" href="{% url 'journal' %}">Go to journal</a>
					<a class="bg-cyan buttonLink" href="{% url 'journal-create' problem.id %}?next={{ request.get_full_path|urlencode }}">Add to journal</a>
				{% endif %}
				<a class="buttonLink bg-orange" href="{% url 'problems-list' %}">View all problems</a>
			</div>
			<nav class="navbar">
				{% if request.GET.type == "hint" %}
					<div class="navDiv">
						<a href="{% url 'problems-view' problem.id %}?type=insight" class="navLink">&#x270D;&#xFE0F; Add/edit insights</a>
					</div>
					<div class="navDiv">
						<a href="#" class="navSelected navLink">&#x1F4DD; Add/edit hints</a>
					</div>
				{% else %}
					<div class="navDiv">
						<a href="#" class="navSelected navLink">&#x270D;&#xFE0F; Add/edit insights</a>
					</div>
					<div class="navDiv">
						<a href="{% url 'problems-view' problem.id %}?type=hint" class="navLink">&#x1F4DD; Add/edit hints</a>
					</div>
				{% endif %}
				<div class="navDiv">
					<a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=hint" class="navLink">&#x1F4A1; Summary of hints</a>
				</div>
				<div class="navDiv" id="lastLinkNav">
					<a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=insight" class="navLink">&#129504; Summary of insights and similar problems</a>
				</div>
			</nav>
		</div>
		{% if request.GET.type == "hint" %}
			<h2 id="submit">Submit a new hint</h2>
			{% if user.is_authenticated %}
				{% if user_hints %}
					<h3 id="userHints">Your Hints</h3>
					<ol>
					{% for hint in user_hints %}
						<li><div class="hintInsightContainer">
							<p style="margin-top: 0.5em; margin-bottom: 0.5em;">{{ hint.text }}</p>
							<a class="buttonLink bg-blue changeButton" href="{% url 'hint-update' hint.id %}">Edit</a><a class="buttonLink bg-red changeButton" href="{% url 'hint-delete' hint.id %}">Delete</a>
						</div></li>
					{% endfor %}
					</ol>
				{% else %}
					<p id="userHints">You currently don't have any hints.</p>
				{% endif %}
				<h3 id="hintFormLocation" style="margin: 0px 0px 0px 0px;"></h3>
				<form method="POST">
					{% csrf_token %}
					{% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                            	{{ message }}
                            </div>
                        {% endfor %}
                	{% endif %}
					{{ hint_form }}
					<p style="margin-top: 0.5em; margin-bottom: 0.3em;"><b>Characters left:</b> <span id="charactersLeft"></span></p>
					<button type="submit" class="bg-green">Submit hints</button>
				</form>
			{% else %}
				<div class="alert alert-error">Please login before submitting new hints/insights.</div>
			{% endif %}
		{% else %}
			<h2 id="submit">Submit a new insight (automatically adds problem to journal)</h2>
			{% if user.is_authenticated %}
				{% if user_insights %}
					<h3 id="userInsights">Your Insights</h3>
					<ol>
					{% for insight in user_insights %}
						<li><div class="hintInsightContainer">
							<p style="margin-top: 0.5em; margin-bottom: 0.5em;">{{ insight.text }}</p>
							<a class="buttonLink bg-blue changeButton" href="{% url 'insight-update' insight.id %}">Update</a><a class="buttonLink bg-red changeButton" href="{% url 'insight-delete' insight.id %}">Delete</a>
						</div></li>
					{% endfor %}
					</ol>
				{% else %}
					<p id="userInsights">You currently don't have any insights/observations.</p>
				{% endif %}
				<h3 id="insightFormLocation" style="margin: 0px 0px 0px 0px;"></h3>
				<form method="POST">
					{% csrf_token %}
					<!--{% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                            	{{ message }}
                            </div>
                        {% endfor %}
                	{% endif %}-->
					{{ insight_form }}
					<p style="margin-top: 0.5em; margin-bottom: 0.3em;"><b>Characters left:</b> <span id="charactersLeft"></span></p>
					<button type="submit" class="bg-green changeButton">Submit insights</button>
				</form>
			{% else %}
				<div class="alert alert-error">Please login before submitting new hints/insights.</div>
			{% endif %}
		{% endif %}
    </body>
	<style>
		label {
			font-size: large;
			font-weight: bold;
		}
		textarea {
			width: min(96%, 850px);
		}
		div.hintInsightContainer {
			max-width: 850px;
		}
	</style>
	<script type="text/javascript" src="{% static 'js/saveScrollPosition.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/showCharactersLeft.js' %}"></script>
</html>