<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Starlight: {{ problem.name }}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">		
		<script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}" />
		<link rel="icon" href="{% static 'emoji/logo.png' %}" type="image/png" />
	</head>
    <body>
		<div>
			<div class="border-b dark:border-neutral">
			<div class="mx-auto max-w-screen-lg min-[320px]:navbar">
				<div class="min-[320px]:flex-1">
					<svg class="mx-2 max-[320px]:inline" width="35" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="#269" d="M36 32c0 2.209-1.791 4-4 4H4c-2.209 0-4-1.791-4-4V4c0-2.209 1.791-4 4-4h28c2.209 0 4 1.791 4 4v28z"/><path fill="#F4900C" d="M11 9s7.29-4.557 21-4.969c.652-.02 2-.031 2 .969-6 9-9 23-9 23L11 9z"/><path fill="#FFAC33" d="M12 16S24 5 32 4.031C32.647 3.952 34 4 34 5c-7 4-12 19-12 19l-10-8z"/><path fill="#FFD983" d="M15.156 12.438c.826.727 2.388 1.164 3.471.972l4.892-.866c1.084-.192 1.613.478 1.178 1.488l-1.968 4.563c-.436 1.01-.369 2.63.148 3.602l2.335 4.384c.518.972.044 1.682-1.051 1.58l-4.947-.463c-1.095-.102-2.616.462-3.379 1.254l-3.45 3.577c-.763.792-1.585.562-1.827-.512L9.469 27.17c-.241-1.073-1.248-2.345-2.237-2.827l-4.467-2.175c-.989-.481-1.024-1.335-.078-1.896l4.274-2.534c.946-.561 1.845-1.911 1.997-3.001l.689-4.92c.152-1.09.953-1.387 1.779-.66l3.73 3.281z"/></svg>
					<a class="text-xl my-2">
						Starlight</a>
				</div>
				<div class="flex-none">
					<ul class="menu menu-horizontal px-1">
						<li><button class="btn-sm" id="colorModeIndBtn">
							<img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
						</button></li>
						{% if user.is_authenticated %}
							<li><a class="btn-sm" href="{% url 'profile' %}">{{ user.username }}</a></li>
							<li>
								<form method="post" action="{% url 'logout' %}">
									{% csrf_token %}
									<button type="submit">Logout</button>
								</form>
							</li>
						{% else %}
							<li><a class="btn-sm" href="{% url 'login' %}?next={{ full_path|urlencode }}">Login</a></li>
							<li><a class="btn-sm" href="{% url 'register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
				<script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
			</div>
			</div>
			<main class="mt-2 mx-auto w-11/12 max-w-screen-md">
			<h2 style="margin-top: 0px; margin-bottom: 0.5em;">From Problem: <a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a></h2>
			{% if messages %}
				<div id="messages">
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
				</div>
			{% endif %}
			<div style="margin-bottom: 0.3em;">
				{% if request.user.is_authenticated %}
					<a class="buttonLink" href="{% url 'journal' %}">Go to journal</a>
					<a class="bg-cyan buttonLink" href="{% url 'journal-create' problem.id %}?next={{ request.get_full_path|urlencode }}">Add to journal</a>
				{% endif %}
				<a class="buttonLink bg-orange" href="{% url 'problems-list' %}">View all problems</a>
			</div>
			<div role="tablist" class="md:tabs max-md:tabs-boxed md:tabs-bordered">
				{% if request.GET.type == "hint" %}
					<a href="{% url 'problems-view' problem.id %}?type=insight" role="tab" class="tab">&#x270D;&#xFE0F; Add/edit insights</a>
					<a href="#" role="tab" class="tab tab-active">&#x1F4DD; Add/edit hints</a>
				{% else %}
					<a href="#" role="tab" class="tab tab-active">&#x270D;&#xFE0F; Add/edit insights</a>
					<a href="{% url 'problems-view' problem.id %}?type=hint" role="tab" class="tab">&#x1F4DD; Add/edit hints</a>
				{% endif %}
				<a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=hint" class="tab">&#x1F4A1; Summary of hints</a>
				<a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=insight" class="tab" style="height: fit-content !important;">&#129504; Summary of insights and similar problems</a>
			</div>
			</main>
		</div>
		<main class="mt-2 mx-auto w-11/12 max-w-screen-md">
		{% if request.GET.type == "hint" %}
			<h2 id="submit">Submit a new hint</h2>
			{% if user.is_authenticated %}
				<p>
					By submitting a hint, you agree to follow the <a href="{% url 'about-rules' %}">Rules</a>
					of this website and to license the hint under the
					<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">CC by 4.0</a> license.
				</p>
				{% if user_hints %}
					<h3 id="userHints">Your Hints</h3>
					<ol>
					{% for hint in user_hints %}
						<li><div class="hintInsightContainer">
							<p style="margin-top: 0.5em; margin-bottom: 0.5em;">{{ hint.text }}</p>
							<a class="buttonLink bg-blue changeButton" href="{% url 'hint-update' hint.id %}">Edit</a><a class="buttonLink bg-red changeButton" href="{% url 'hint-delete' hint.id %}">Delete</a>
						</div></li>
					{% endfor %}
					</ol>
				{% else %}
					<p id="userHints">You currently don't have any hints.</p>
				{% endif %}
				<h3 id="hintFormLocation" style="margin: 0px 0px 0px 0px;"></h3>
				<form method="POST">
					{% csrf_token %}
					{% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                            	{{ message }}
                            </div>
                        {% endfor %}
                	{% endif %}
					{{ hint_form }}
					<p style="margin-top: 0.5em; margin-bottom: 0.3em;"><b>Characters left:</b> <span id="charactersLeft"></span></p>
					<button type="submit" class="bg-green">Submit hints</button>
				</form>
			{% else %}
				<div class="alert alert-error">Please login before submitting new hints/insights.</div>
			{% endif %}
		{% else %}
			<h2 id="submit">Submit a new insight (automatically adds problem to journal)</h2>
			{% if user.is_authenticated %}
				<p>
					By submitting an insight, you agree to follow the <a href="{% url 'about-rules' %}">Rules</a>
					of this website and to license the hint under the
					<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">CC by 4.0</a> license.
				</p>
				{% if user_insights %}
					<h3 id="userInsights">Your Insights</h3>
					<ol>
					{% for insight in user_insights %}
						<li><div class="hintInsightContainer">
							<p style="margin-top: 0.5em; margin-bottom: 0.5em;">{{ insight.text }}</p>
							<a class="buttonLink bg-blue changeButton" href="{% url 'insight-update' insight.id %}">Update</a><a class="buttonLink bg-red changeButton" href="{% url 'insight-delete' insight.id %}">Delete</a>
						</div></li>
					{% endfor %}
					</ol>
				{% else %}
					<p id="userInsights">You currently don't have any insights/observations.</p>
				{% endif %}
				<h3 id="insightFormLocation" style="margin: 0px 0px 0px 0px;"></h3>
				<form method="POST">
					{% csrf_token %}
					<!--{% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                            	{{ message }}
                            </div>
                        {% endfor %}
                	{% endif %}-->
					{{ insight_form }}
					<p style="margin-top: 0.5em; margin-bottom: 0.3em;"><b>Characters left:</b> <span id="charactersLeft"></span></p>
					<button type="submit" class="bg-green changeButton">Submit insights</button>
				</form>
			{% else %}
				<div class="alert alert-error">Please login before submitting new hints/insights.</div>
			{% endif %}
		{% endif %}
		<div style="text-align: center; font-size: smaller; border-top: 0.1em solid; margin-top: 1em;">
            <p>
                <a href="{% url 'about-starlight' %}">About</a> &#8226;
                <a href="{% url 'about-privacy' %}">Privacy Notice</a> &#8226;
                <a href="{% url 'about-rules' %}">Rules</a> &#8226;
                <a href="{% url 'problems-list' %}">Problems list</a> &#8226;
                <a href="{% url 'journal' %}">Journal</a> &#8226;
                <a href="{% url 'profile' %}">Your profile</a> &#8226;
                <a href="https://github.com/bkf2020/starlight" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/59841/moon-symbol">Moon Symbol</a> icon by <a target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                <a target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/9313/sun">Sun</a> icon by <a target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                Emojis from <a target="_blank" rel="noopener noreferrer" href="https://twemoji.twitter.com/">Twemoji</a> by Twitter under <a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/4.0/">CC by 4.0</a>
            </p>
        </div>
        </main>
    </body>
	<style>
		label {
			font-size: large;
			font-weight: bold;
		}
		textarea {
			width: min(96%, 850px);
		}
		div.hintInsightContainer {
			max-width: 850px;
		}
	</style>
	<script type="text/javascript" src="{% static 'js/saveScrollPosition.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/showCharactersLeft.js' %}"></script>
</html>
