<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>&#x1F320; Starlight: View Problems with Similar Insights</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>&#x1F320; Starlight: View Problems with Similar Insights</h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		{% if request.GET.type == "individual" %}
			<p>Viewing other problems with insights similar to <b>only this insight</b> from <a href="{{ firstProblem.link }}">{{ firstProblem.name }}</a>:
				<blockquote><quote>{{ insight.text }}</quote></blockquote>
			</p>
			<ul>
				{% for problem in problems %}
					{% if problem != firstProblem %}
						<li>
							<p><a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a></p>
							{% if problem.insights_matched %}
								<details>
									<summary>Shared similar insights</summary>
										{% for insight_info in problem.insights_matched %}
											<ul>
												<li>
													{{ insight_info.insight.text }}
												</li>
											</ul>
										{% endfor %}
								</details>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% elif request.GET.type == "group" %}
			<p>Viewing other problems with insights similar to <b>insights in this group</b> from <a href="{{ firstProblem.link }}">{{ firstProblem.name }}</a>. One insight from the group:
				<blockquote><quote>{{ firstInsight.text }}</quote></blockquote>
			</p>
			<a href="{% url 'view-cluster' %}?type=insight&cluster={{ request.GET.cluster }}&problem={{ request.GET.problem }}">View all insights in this group</a>
			<ul>
				{% for problem in problems %}
					{% if problem != firstProblem %}
						<li>
							<p><a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a></p>
							{% if problem.insights_matched %}
								<details>
									<summary>Shared similar insights</summary>
										{% for insight_cluster in problem.insights_matched %}
											{% for insight_info in insight_cluster %}
												<ul>
													<li>
														{{ insight_info.insight.text }}
													</li>
												</ul>
											{% endfor %}
										{% endfor %}
								</details>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			<p>Viewing other problems with insights similar to <b>ANY insight of</b> <a href="{{ firstProblem.link }}">{{ firstProblem.name }}</a>.</p>
			<ul>
				{% for problem in problems %}
					{% if problem != firstProblem %}
						<li>
							<p><a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a></p>
							{% if problem.insights_matched %}
								<details>
									<summary>Shared similar insights</summary>
										{% for insight_cluster in problem.insights_matched %}
											{% for insight_info in insight_cluster %}
												<ul>
													<li>
														{{ insight_info.insight.text }}
													</li>
												</ul>
											{% endfor %}
										{% endfor %}
								</details>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
    </body>
</html>