<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>&#x1F320; Starlight: View Problems with Similar Insights</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 0.1em solid;">
			<div>
				<h1>&#x1F320; Starlight: View Problems with Similar Insights</h1>
			</div>
			<div style="float: right; padding-left: 0.7em;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		{% if request.GET.type == "individual" %}
			<p>Viewing other problems with insights similar to <b>only this insight</b> from
				<a href="{{ firstProblem.link }}" target="_blank" rel="noopener noreferrer">{{ firstProblem.name }}</a>:
				<blockquote><quote>{{ insight.text }}</quote></blockquote>
			</p>
			{% if not page_obj %}
				<center>
					<h3>There are no problems that are similar to the specified problem currently with these conditions.</h3>
				</center>
        	{% endif %}
			{% for problem in page_obj %}
				{% if problem != firstProblem %}
					<div class="hintInsightContainer">
					<ul style="margin-top: 0em; margin-bottom: 0em;">
						<li>
							<a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a>
							{% if problem.insights_matched %}
								<details>
									<summary>Shared similar insights</summary>
										<ul>
											{% for insight_info in problem.insights_matched %}
												<li>
													{{ insight_info.insight.text }}
												</li>
											{% endfor %}
											<li>
												<a href="{% url 'shared-insights' %}?type=individual&insight={{ request.GET.insight }}&otherProblem={{ problem.id }}" target="_blank" rel="noopener noreferrer">
													View ALL insights of this problem that are shared
												</a>
											</li>
										</ul>
								</details>
							{% endif %}
						</li>
					</ul>
					</div>
				{% endif %}
			{% endfor %}
		{% elif request.GET.type == "group" %}
			{% if none_in_cluster %}
				<center><h3>There are no insights in the cluster specified.</h3></center>
				<p><a href="{% url 'view-all-summary' %}?problem={{ request.GET.problem }}&type=insight">Back to summary of insights</a></p>
			{% else %}
			<p>Viewing other problems with insights similar to <b>insights in this group</b> from
				<a href="{{ firstProblem.link }}" target="_blank" rel="noopener noreferrer">{{ firstProblem.name }}</a>. One insight from the group:
				<blockquote><quote>{{ firstInsight.text }}</quote></blockquote>
			</p>
			<a href="{% url 'view-cluster' %}?type=insight&cluster={{ request.GET.cluster }}&problem={{ request.GET.problem }}" target="_blank" rel="noopener noreferrer" class="buttonLink">View all insights in this group</a>
			{% if not page_obj %}
				<center>
					<h3>There are no problems that are similar to the specified problem currently with these conditions.</h3>
				</center>
        	{% endif %}
			{% for problem in page_obj %}
				{% if problem != firstProblem %}
				<div class="hintInsightContainer">
					<ul style="margin-bottom: 0em; margin-top: 0em;">
						<li>
							<a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a>
							{% if problem.insights_matched %}
								<details>
									<summary>Shared similar insights</summary>
										<ul>
											{% for insight_info in problem.insights_matched %}
												<li>
													{{ insight_info.insight.text }}
												</li>
											{% endfor %}
											<li>
												<a href="{% url 'shared-insights' %}?type=group&insightProblem={{ request.GET.problem }}&otherProblem={{ problem.id }}&cluster={{ request.GET.cluster }}" target="_blank" rel="noopener noreferrer">
													View ALL insights of this problem that are shared
												</a>
											</li>
										</ul>
								</details>
							{% endif %}
						</li>
					</ul>
				</div>
				{% endif %}
			{% endfor %}
			{% endif %}
		{% else %}
			{% if none_in_cluster %}
				<center><h3>There are no insight clusters in this problem.</h3></center>
				<p><a href="{% url 'view-all-summary' %}?problem={{ request.GET.problem }}&type=insight">Back to summary of insights</a></p>
			{% else %}
			<p>Viewing other problems with insights similar to <b>ANY insight of</b> <a href="{{ firstProblem.link }}" target="_blank" rel="noopener noreferrer">{{ firstProblem.name }}</a>.</p>
			<p><a href="{% url 'view-all-summary' %}?problem={{ firstProblem.id }}&type=insight" class="buttonLink bg-green">Back to summary of insights</a></p>
			{% if not page_obj %}
				<center>
					<h3>There are no problems that are similar to the specified problem currently in the given conditions.</h3>
				</center>
        	{% endif %}
			{% for problem in page_obj %}
				{% if problem != firstProblem %}
					<div class="hintInsightContainer"><ul style="margin-top: 0em; margin-bottom: 0em;">
						<li>
							<a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a>
							{% if problem.insights_matched %}
								<details>
									<summary>Shared similar insights</summary>
										<ul>
											{% for insight_info in problem.insights_matched %}
												<li>
													{{ insight_info.insight.text }}
												</li>
											{% endfor %}
											<li>
												<a href="{% url 'shared-insights' %}?type=all&firstProblem={{ request.GET.problem }}&otherProblem={{ problem.id }}" target="_blank" rel="noopener noreferrer">
													View ALL insights of this problem that are shared
												</a>
											</li>
										</ul>
								</details>
							{% endif %}
						</li>
					</ul></div>
				{% endif %}
			{% endfor %}
			{% endif %}
		{% endif %}
		{% if not none_in_cluster %}
		<div class="pagination">
			{% if page_obj.has_previous %}
   	        	<a class="paginationLink" href="?page={{ page_obj.previous_page_number }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}&insight={{ request.GET.insight }}">&larr;</a>
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
   	        	<a class="paginationLink" href="?page={{ page_obj.next_page_number }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}&insight={{ request.GET.insight }}">&rarr;</a>
			{% endif %}
		</div>
		<details>
			<summary>View links to all pages</summary>
			{% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
   	        		<a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}&insight={{ request.GET.insight }}">{{ forloop.counter }}</a>
                {% else %}
   	        		<a class="paginationLink" href="?page={{ forloop.counter }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}&insight={{ request.GET.insight }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
		</details>
		{% endif %}
    </body>
</html>