<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>&#x1F320; Starlight: View Shared Insights Between Problems</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
		        <h1>&#x1F320; Starlight: View Shared Insights Between Problems</h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		{% if request.GET.type == "individual" %}
            <p>
                Viewing insights from <a href="{{ otherProblem.link }}">{{ otherProblem.name }}</a>
                that are similar (thus shared) with <b>only this insight</b> from <a href="{{ firstProblem.link }}">{{ firstProblem.name }}</a>:
                <blockquote>{{ insight.text }}</blockquote>
            </p>
            <ul>
                {% for insight_info in shared_insights %}
                    <li>{{ insight_info.insight.text }}</li>
                {% endfor %}
            </ul>
		{% elif request.GET.type == "group" %}
            <p>
                Viewing insights from <a href="{{ otherProblem.link }}">{{ otherProblem.name }}</a>
                that are similar (thus shared) with <b>any insight</b> in this <b>group</b> of <a href="{{ firstProblem.link }}">{{ firstProblem.name }}</a>.
                The first insight of this group is:
				<blockquote>{{ firstInsight.text }}</blockquote>
            </p>
			<a href="{% url 'view-cluster' %}?type=insight&cluster={{ request.GET.cluster }}&problem={{ request.GET.insightProblem }}">View all insights in this group</a>
			<ul>
				{% for insight_cluster in shared_insights %}
					{% for insight_info in insight_cluster %}
						<li>{{ insight_info.insight.text }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		{% else %}
			<p>
                Viewing insights from <a href="{{ otherProblem.link }}">{{ otherProblem.name }}</a>
                that are similar (thus shared) with <b>ANY insight</b> of <a href="{{ firstProblem.link }}">{{ firstProblem.name }}</a>.
            </p>
			<ul>
				{% for insight_cluster in shared_insights %}
					{% for insight_info in insight_cluster %}
						<li>{{ insight_info.insight.text }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
        {% endif %}
    </body>
</html>