<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if request.GET.type == "hint" %}
		    <title>&#x1F320; Starlight: View First Hint of each Hint Cluster from {{ problem.name }}</title>
        {% else %}
		    <title>&#x1F320; Starlight: View First Insight of each Insight Cluster from {{ problem.name }}</title>
        {% endif %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}" />
	</head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
                {% if request.GET.type == "hint" %}
		            <h1>&#x1F320; Starlight: View First Hint of each Hint Cluster from {{ problem.name }}</h1>
                {% else %}
		            <h1>&#x1F320; Starlight: View First Insight of each Insight Cluster from {{ problem.name }}</h1>
                {% endif %}
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
        <div class="overlay hidden" id="clusterModelOverlay">
            <div class="modal" id="clusterModal">
            </div>
        </div>
        <p><a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">Link to {{ problem.name }}</a></p>
        <ul>
            {% for info in page_obj %}
                {% if request.GET.type == "hint" %}
                    <li>{{ info.hint.text }} <button class="viewHintCluster" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">View this cluster</button></li>
                {% else %}
                    <li>{{ info.insight.text }} <button class="viewInsightCluster" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">View this cluster</button></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="pagination">
            {% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
                     <a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% else %}
                     <a class="paginationLink" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
    </body>
	<script type="text/javascript" src="{% static 'js/viewModal.js' %}"></script>
</html>