<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if request.GET.type == "hint" %}
		    <title>&#x1F320; Starlight: View All Hints from {{ problem.name }}</title>
        {% else %}
		    <title>&#x1F320; Starlight: View All Insights from {{ problem.name }}</title>
        {% endif %}
		<script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
    <body>
		<div style="border-bottom: 0.1em solid;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
                {% if request.GET.type == "hint" %}
		            <h1>&#x1F320; Starlight: View All Hints from Problem</h1>
                {% else %}
		            <h1>&#x1F320; Starlight: View All Insights from Problem</h1>
                {% endif %}
			</div>
			<div style="float: right; margin-left: 0.7em;">
                <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-left: 0.5em;">
                    <div style="margin-right: 0.5em; display: block;">
                        <button style="background-color: transparent; margin: initial; padding: initial; display: block;" id="colorModeIndBtn">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                            </div>
                        </button>
                    </div>
					<div>
				        {% if user.is_authenticated %}
					        <a href="{% url 'profile' %}">{{ user.username }}</a> |
					        <a href="{% url 'logout' %}">Logout</a>
				        {% else %}
                            <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					        <a href="{% url 'register' %}">Register</a>
				        {% endif %}
                    </div>
    				<script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
                </div>
			</div>
		</div>
		<div>
			<h2 style="margin-top: 0px;">From Problem: <a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a> (<a href="{% url 'problems-list' %}">View all problems</a>)</h2>
		</div>
		</div>
        {% if request.GET.type == "hint" %}
            <p><a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=hint" class="buttonLink bg-cyan">Back to summary of hints</a></p>
        {% else %}
            <p><a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=insight" class="buttonLink bg-green">Back to summary of insights</a></p>
        {% endif %}
		{% if not page_obj %}
            <center style="margin-top: 2em; margin-bottom: 2em;">
                <h3>There are no hints/insights available currently.</h3>
            </center>
        {% endif %}
            {% for info in page_obj %}
                {% if request.GET.type == "hint" %}
                    <ul><li>{{ info.text }} by {{ info.username }}</li></ul>
                {% else %}
					<div class="hintInsightContainer">
						<ul style="margin-top: 0em; margin-bottom: 0em;">
                    	<li>{{ info.text }} by {{ info.username }}</li>
						<ul>
							<li><a href="{% url 'problems-similar-insights' %}?type=individual&insight={{ info.id }}" target="_blank" rel="noopener noreferrer">
								View similar problems that share ONLY this INSIGHT</a></li>
						</ul></ul>
					</div>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="pagination">
			{% if page_obj.has_previous %}
   	        	<a class="paginationLink" href="?page={{ page_obj.previous_page_number }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">&larr;</a>
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
   	        	<a class="paginationLink" href="?page={{ page_obj.next_page_number }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">&rarr;</a>
			{% endif %}
		</div>
		<details>
			<summary>View links to all pages</summary>
			{% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
   	        		<a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% else %}
   	        		<a class="paginationLink" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
		</details>
    </body>
</html>