<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if request.GET.type == "hint" %}
		    <title>Starlight: View Summary of Hints from {{ problem.name }}</title>
        {% else %}
		    <title>Starlight: View Summary of Insights from {{ problem.name }}</title>
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">        
        <script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}" />
        <link rel="icon" href="{% static 'emoji/logo.png' %}" type="image/png" />
	</head>
    <body>
        <div class="mx-auto flex-none p-2 text-center border-b dark:border-neutral min-[685px]:navbar">
					<div class="navbar-start">
					</div>
					<div class="navbar-center">
						<div class="flex justify-center items-center mt-3">
                    <svg class="mr-2 max-[685px]:inline" width="35" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="#269" d="M36 32c0 2.209-1.791 4-4 4H4c-2.209 0-4-1.791-4-4V4c0-2.209 1.791-4 4-4h28c2.209 0 4 1.791 4 4v28z"/><path fill="#F4900C" d="M11 9s7.29-4.557 21-4.969c.652-.02 2-.031 2 .969-6 9-9 23-9 23L11 9z"/><path fill="#FFAC33" d="M12 16S24 5 32 4.031C32.647 3.952 34 4 34 5c-7 4-12 19-12 19l-10-8z"/><path fill="#FFD983" d="M15.156 12.438c.826.727 2.388 1.164 3.471.972l4.892-.866c1.084-.192 1.613.478 1.178 1.488l-1.968 4.563c-.436 1.01-.369 2.63.148 3.602l2.335 4.384c.518.972.044 1.682-1.051 1.58l-4.947-.463c-1.095-.102-2.616.462-3.379 1.254l-3.45 3.577c-.763.792-1.585.562-1.827-.512L9.469 27.17c-.241-1.073-1.248-2.345-2.237-2.827l-4.467-2.175c-.989-.481-1.024-1.335-.078-1.896l4.274-2.534c.946-.561 1.845-1.911 1.997-3.001l.689-4.92c.152-1.09.953-1.387 1.779-.66l3.73 3.281z"/></svg>
                    <a class="text-3xl my-1">
                        Starlight</a>
                        </div>
					</div>
					 <div class="min-[685px]:navbar-end max-[685px]:mx-auto">
                    <ul class="menu menu-horizontal px-1">
                        <li><button class="btn-sm" id="colorModeIndBtn">
                            <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                        </button></li>
                        {% if user.is_authenticated %}
                            <li><a class="btn-sm" href="{% url 'profile' %}">{{ user.username }}</a></li>
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li><a class="btn-sm" href="{% url 'login' %}?next={{ full_path|urlencode }}">Login</a></li>
                            <li><a class="btn-sm" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                <script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
            </div>
        <main class="max-w-screen-md w-11/12 mx-auto">
            <h2 style="margin-top: 0.5em; margin-bottom: 0.5em;" class="text-xl font-bold">Problem: <a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer" class="link text-blue-700 dark:text-blue-300">{{ problem.name }}</a></h2>
            {% if messages %}
				<div id="messages">
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
				</div>
			{% endif %}
            <div style="margin-bottom: 0.3em;">
				{% if request.user.is_authenticated %}
					<div class="tooltip tooltip-right before:max-w-[80vw]" data-tip="The journal stores insights of problems you desire">
						<button class="btn btn-outline btn-sm !max-h-9 h-9">&#9432;</button>
					</div>
					<a class="btn btn-outline btn-primary !min-h-9 h-9 mx-1 mb-1" href="{% url 'journal' %}">Go to journal</a>
					<a class="btn btn-outline btn-secondary !min-h-9 h-9 mb-1" href="{% url 'journal-create' problem.id %}?next={{ request.get_full_path|urlencode }}">Add to journal</a>
				{% endif %}
				<a class="btn btn-outline btn-accent !min-h-9 h-9 m-1 mb-1" href="{% url 'problems-list' %}">View all problems</a>
			</div>
			<div role="tablist" class="min-[665px]:tabs tabs-boxed bg-neutral-100 dark:bg-base-200 min-[665px]:items-center">
				<a href="{% url 'problems-view' problem.id %}?type=insight" role="tab" class="tab px-2">&#x270D;&#xFE0F; Add/edit insights</a>
				<a href="{% url 'problems-view' problem.id %}?type=hint" role="tab" class="tab px-2">&#x1F4DD; Add/edit hints</a>
                {% if request.GET.type == 'hint' %}
					<a href="#" role="tab" class="tab tab-active px-2">&#x1F4A1; Summary of hints</a>
					<a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=insight" role="tab" class="tab px-2" style="height: fit-content !important;">&#129504; Summary of insights and similar problems</a>
                {% else %}
					<a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=hint" role="tab" class="tab px-2">&#x1F4A1; Summary of hints</a>
					<a href="#" role="tab" class="tab tab-active px-2" style="height: fit-content !important;">&#129504; Summary of insights and similar problems</a>
                {% endif %}
            </div>
		</div>
        <div class="overlay" id="clusterModelOverlay">
            <div class="modal" id="clusterModal">
                <button style="float: right;" class="bg-red" id="closeModalButton">Close</button>
                <div class="fade hidden" id="clusterModalContent">
                </div>
            </div>
        </div>
        {% if request.GET.type == "hint" %}
            <div>
                <h3 class="text-lg font-bold my-2">About this page</h3>
                <p style="margin-bottom: 0.5em;">
                    Similar hints are placed in the same <b>group/cluster</b>. This page shows the first hint of each clusters, with 10 clusters a page.
                    The clusters are sorted by the ones with the most number of hints. <b>This helps give a summarized version of the hints.</b>
                    Hints are clustered every day around 04:00 AM UTC <b>which may cause disruptions</b>.
                </p>
                <p><a href="{% url 'view-all-hints-insights' %}?type=hint&problem={{ problem.id }}" class="btn btn-small btn-outline btn-info !min-h-9 h-9 mb-2">View every single hint</a></p>
            </div>
        {% else %}
        <div>
            <h3 class="text-lg font-bold my-2">About this page</h3>
                <p style="margin-bottom: 0.5em;">
                    Similar insights are placed in the same <b>group/cluster</b>. This page shows the first insight of each clusters, with 10 clusters a page.
                    The clusters are sorted by the ones with the most number of insights. <b>This helps give a summarized version of the insights.</b>
                    Insights are clustered every day around 04:00 AM UTC <b>which may cause disruptions</b>.
                </p>
                <div style="margin-bottom: 0.5em;">
                    <a href="{% url 'view-all-hints-insights' %}?type=insight&problem={{ problem.id }}" class="btn btn-small btn-outline btn-info !min-h-9 h-9 mb-2">View every single insight</a>
                    <a href="{% url 'problems-similar-insights' %}?type=all&problem={{ problem.id }}" class="btn btn-small btn-outline btn-success !min-h-9 h-9 mb-2 p-2" style="height: fit-content !important;"><b>SIMILAR Problems</b> with insights similar to <b>ANY insight of this problem</b></a>
                </div>
            </div>
        {% endif %}
        {% if not page_obj %}
            <center style="margin-top: 2em; margin-bottom: 2em;">
                <h3 class="text-xl font-bold">There are no hint or insight clusters available currently.</h3>
            </center>
        {% endif %}
        {% for info in page_obj %}
            {% if request.GET.type == "hint" %}
                <div class="card max-w-2xl bg-base-100 border dark:border-neutral-600 p-3 my-2">
                    <details>
                        <summary>Click to show first hint of cluster #{{ info.pos }}</summary>
                        <ul style="margin: 0.5em 0px 0px 0px;">
                            <li>{{ info.hint.text }} by {{ info.hint.username }} <button class="viewHintCluster btn btn-small btn-outline btn-success mr-1 !min-h-9 h-9 mb-2" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">View this cluster</button></li>
                        </ul>
                    </details>
                </div>
            {% else %}
                <div class="card max-w-2xl bg-base-100 border dark:border-neutral-600 p-3 my-2">
                    <ul style="margin: 0.5em 0px 0px 1em;" class="list-disc"><li>
                        <p style="margin-top: 0.4em; margin-bottom: 0.4em;">{{ info.insight.text }} by {{ info.insight.username }}</p>
                        <div>
                            <button class="viewInsightCluster btn btn-small btn-outline btn-warning mr-1 !min-h-9 h-9 mb-2" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">View this cluster</button>
                            <button class="viewSimilarProblems btn btn-small btn-outline btn-error !min-h-9 h-9 mb-2" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">Problems with <b>insights similar</b> to any one in this <b>cluster</b></button>
                        </div>
                    </li></ul>
                </div>
            {% endif %}
        {% endfor %}
        <div class="pagination">
			{% if page_obj.has_previous %}
   	        	<a class="link text-blue-700 dark:text-blue-300 text-xl" href="?page={{ page_obj.previous_page_number }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">&larr;</a>
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
   	        	<a class="link text-blue-700 dark:text-blue-300 text-xl" href="?page={{ page_obj.next_page_number }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">&rarr;</a>
			{% endif %}
		</div>
		<details>
			<summary>View links to all pages</summary>
			{% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
   	        		<a class="link text-blue-700 dark:text-blue-300 bg-neutral-300 dark:bg-neutral-700 p-1.5" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% else %}
   	        		<a class="link text-blue-700 dark:text-blue-300 p-1.5" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
		</details>
        <div style="text-align: center; font-size: smaller; margin-top: 1em; padding: 0.5em;" class="border-t dark:border-neutral">
            <p>
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-starlight' %}">About</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-privacy' %}">Privacy Notice</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-rules' %}">Rules</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'problems-list' %}">Problems list</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'journal' %}">Journal</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'profile' %}">Your profile</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="https://github.com/bkf2020/starlight" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
            <p>
                <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/59841/moon-symbol">Moon Symbol</a> icon by <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/9313/sun">Sun</a> icon by <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                Emojis from <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://twemoji.twitter.com/">Twemoji</a> by Twitter under <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/4.0/">CC by 4.0</a>
            </p>
        </div>
        </main>
    </body>
	<script type="text/javascript" src="{% static 'js/viewModal.js' %}"></script>
</html>
