<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% if request.GET.type == "hint" %}
			<title>&#x1F320; Starlight: View Hint Cluster</title>
		{% else %}
			<title>&#x1F320; Starlight: View Insight Cluster</title>
		{% endif %}
		<script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 0.1em solid;">
			{% if request.GET.type == "hint" %}
				<div>
					<h1>&#x1F320; Starlight: View Hint Cluster</h1>
				</div>
			{% else %}
				<div>
					<h1>&#x1F320; Starlight: View Insight Cluster</h1>
				</div>
			{% endif %}
			<div style="float: right; margin-left: 0.7em;">
                <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-left: 0.5em;">
                    <div style="margin-right: 0.5em; display: block;">
                        <button style="background-color: transparent; margin: initial; padding: initial; display: block;" id="colorModeIndBtn">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                            </div>
                        </button>
                    </div>
					<div>
				        {% if user.is_authenticated %}
					        <a href="{% url 'profile' %}">{{ user.username }}</a> |
					        <a href="{% url 'logout' %}">Logout</a>
				        {% else %}
                            <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					        <a href="{% url 'register' %}">Register</a>
				        {% endif %}
                    </div>
                </div>
			</div>
    		<script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
		</div>
		{% if request.GET.type == "hint" %}
			<a href="{% url 'view-all-summary'%}?problem={{ request.GET.problem }}&type=hint" class="buttonLink">Back to summary of hints in problem</a>
			{% if not page_obj %}
            	<center style="margin-top: 2em; margin-bottom: 2em;">
                	<h3>There are no hints in this cluster currently.</h3>
            	</center>
        	{% endif %}
			<ul>
			{% for hint in page_obj %}
				<li>
					{% if forloop.first %}
						<b>Viewing hints similar to:</b>
					{% endif %}
					{{ hint.text }} by {{ hint.username }}
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<a href="{% url 'view-all-summary'%}?problem={{ request.GET.problem }}&type=insight" class="buttonLink">Back to summary of insights in problem</a>
			{% if not page_obj %}
            	<center style="margin-top: 2em; margin-bottom: 2em;">
                	<h3>There are no insights in this cluster currently.</h3>
            	</center>
        	{% endif %}
			<ul>
			{% for insight in page_obj %}
				<li>
					{% if forloop.first %}
						<b>Viewing insights similar to:</b>
					{% endif %}
					{{ insight.text }} by {{ insight.username }}
					<ul>
						<li><a href="{% url 'problems-similar-insights' %}?type=individual&insight={{ insight.id }}" target="_blank" rel="noopener noreferrer">
							View similar problems that share ONLY this INSIGHT</a></li>
					</ul>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		<div class="pagination">
			{% if page_obj.has_previous %}
   	        	<a class="paginationLink" href="?page={{ page_obj.previous_page_number }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}">&larr;</a>
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
   	        	<a class="paginationLink" href="?page={{ page_obj.next_page_number }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}">&rarr;</a>
			{% endif %}
		</div>
		<details>
			<summary>View links to all pages</summary>
			{% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
   	        		<a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}">{{ forloop.counter }}</a>
                {% else %}
   	        		<a class="paginationLink" href="?page={{ forloop.counter }}&type={{ request.GET.type }}&problem={{ request.GET.problem }}&cluster={{ request.GET.cluster }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
		</details>
    </body>
</html>