<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if request.GET.type == "hint" %}
		    <title>&#x1F320; Starlight: View Summary of Hints from {{ problem.name }}</title>
        {% else %}
		    <title>&#x1F320; Starlight: View Summary of Insights from {{ problem.name }}</title>
        {% endif %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}" />
	</head>
    <body>
        <main>
        <div style="border-bottom: 0.1em solid;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
                {% if request.GET.type == "hint" %}
		            <h1>&#x1F320; Starlight: View Summary of Hints</h1>
                {% else %}
		            <h1>&#x1F320; Starlight: View Summary of Insights</h1>
                {% endif %}
			</div>
			<div style="float: right; margin-left: 0.7em;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
            </div>
            <h2 style="margin-top: 0px;">From Problem: <a href="{{ problem.link }}" target="_blank" rel="noopener noreferrer">{{ problem.name }}</a> (<a href="{% url 'problems-list' %}">View all problems</a>)</h2>
            <nav class="navbar">
				<div class="navDiv">
					<a href="{% url 'problems-view' problem.id %}?type=insight" class="navLink">&#x270D;&#xFE0F; Add/edit insights</a>
				</div>
				<div class="navDiv">
					<a href="{% url 'problems-view' problem.id %}?type=hint" class="navLink">&#x1F4DD; Add/edit hints</a>
				</div>
                {% if request.GET.type == 'hint' %}
				    <div class="navDiv">
					    <a href="#" class="navLink navSelected">&#x1F4A1; Summary of hints</a>
				    </div>
				    <div class="navDiv" id="lastLinkNav">
					    <a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=insight" class="navLink">&#129504; Summary of insights and similar problems</a>
				    </div>
                {% else %}
				    <div class="navDiv">
					    <a href="{% url 'view-all-summary' %}?problem={{ problem.id }}&type=hint" class="navLink">&#x1F4A1; Summary of hints</a>
				    </div>
				    <div class="navDiv" id="lastLinkNav">
					    <a href="#" class="navLink navSelected">&#129504; Summary of insights and similar problems</a>
				    </div>
                {% endif %}
			</nav>
		</div>
        <div class="overlay" id="clusterModelOverlay">
            <div class="modal" id="clusterModal">
                <button style="float: right;" class="bg-red" id="closeModalButton">Close</button>
                <div class="fade hidden" id="clusterModalContent">
                </div>
            </div>
        </div>
        {% if request.GET.type == "hint" %}
            <div style="border-bottom: 0.1em solid;">
                <h3>About this page</h3>
                <p style="margin-bottom: 0.5em;">
                    Similar hints are placed in the same <b>group/cluster</b>. This page shows the first hint of each clusters, with 10 clusters a page.
                    The clusters are sorted by the ones with the most number of hints. <b>This helps give a summarized version of the hints.</b>
                </p>
                <p><a href="{% url 'view-all-hints-insights' %}?type=hint&problem={{ problem.id }}" class="buttonLink bg-green">View every single hint</a></p>
            </div>
        {% else %}
            <div style="border-bottom: 0.1em solid;">
                <h3>About this page</h3>
                <p style="margin-bottom: 0.5em;">
                    Similar insights are placed in the same <b>group/cluster</b>. This page shows the first insight of each clusters, with 10 clusters a page.
                    The clusters are sorted by the ones with the most number of insights. <b>This helps give a summarized version of the insights.</b>
                </p>
                <div style="margin-bottom: 0.5em;">
                    <a href="{% url 'view-all-hints-insights' %}?type=insight&problem={{ problem.id }}" class="buttonLink bg-blue">View every single insight</a>
                    <a href="{% url 'problems-similar-insights' %}?type=all&problem={{ problem.id }}" class="buttonLink bg-green"><b>SIMILAR Problems</b> with insights similar to <b>ANY insight of this problem</b></a>
                </div>
            </div>
        {% endif %}
        {% if not page_obj %}
            <center style="margin-top: 2em; margin-bottom: 2em;">
                <h3>There are no hint or insight clusters available currently.</h3>
            </center>
        {% endif %}
        {% for info in page_obj %}
            {% if request.GET.type == "hint" %}
                <div class="hintInsightContainer">
                    <details>
                        <summary>Click to show first hint of cluster #{{ info.pos }}</summary>
                        <ul style="margin: 0.5em 0px 0px 0px;">
                            <li>{{ info.hint.text }} <button class="viewHintCluster bg-cyan" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">View this cluster</button></li>
                        </ul>
                    </details>
                </div>
            {% else %}
                <div class="hintInsightContainer">
                    <ul style="margin: 0.5em 0px 0px 0px;"><li>
                        <p style="margin-top: 0.4em; margin-bottom: 0.4em;">{{ info.insight.text }}</p>
                        <div>
                            <button class="viewInsightCluster" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">View this cluster</button>
                            <button class="viewSimilarProblems bg-orange" clusterid="{{ info.cluster_id }}" problemid="{{ info.problem_id }}">Problems with <b>insights similar</b> to any one in this <b>cluster</b></button>
                        </div>
                    </li></ul>
                </div>
            {% endif %}
        {% endfor %}
        <div class="pagination">
			{% if page_obj.has_previous %}
   	        	<a class="paginationLink" href="?page={{ page_obj.previous_page_number }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">&larr;</a>
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
   	        	<a class="paginationLink" href="?page={{ page_obj.next_page_number }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">&rarr;</a>
			{% endif %}
		</div>
		<details>
			<summary>View links to all pages</summary>
			{% with ''|center:page_obj.paginator.num_pages as range %}
            {% for i in range %}
                {% if forloop.counter == page_obj.number %}
   	        		<a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% else %}
   	        		<a class="paginationLink" href="?page={{ forloop.counter }}&problem={{ request.GET.problem }}&type={{ request.GET.type }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
		</details>
        </main>
    </body>
	<script type="text/javascript" src="{% static 'js/viewModal.js' %}"></script>
</html>