asgiref==3.8.1
better-profanity==0.7.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
dj-database-url==2.2.0
Django==5.0.6
django-allauth==0.63.3
django-recaptcha==4.0.0
gunicorn==22.0.0
idna==3.7
oauthlib==3.2.2
packaging==24.1
psycopg2==2.9.9
pycparser==2.22
PyJWT==2.8.0
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.0
typing_extensions==4.12.1
urllib3==2.2.1
whitenoise==6.6.0
