body {
    background-color: #2e3440 !important;
	color: #e5e9f0 !important;
}
a, a:visited {
	color: #88c0d0 !important;
}
a.buttonLink, a.buttonLink:visited {
	color: black !important;
}
tr:nth-child(even), .paginationSelected {
	background-color: #4c566a !important;
}
td, th {
	border: 1px solid #d8dee9 !important;
}
.alert, .errorlist {
	border-color: #e5e9f0 !important;
}
.hintInsightContainer {
	background-color: #434c5e !important;
}
.bg-gray {
	background-color: #ddd !important;
}
.buttonLink.bg-gray:hover {
	background-color: whitesmoke !important;
}
.navLink:hover {
	background-color: #434C5E !important;
	border-radius: 0.2em !important;
}
textarea {
	background-color: #434c5e !important;
}
textarea::placeholder {
	color: lightgray !important;
}
textarea:focus {
	outline: none !important;
	border: #88c0d0 0.2em solid !important;
}