@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
	font-family: "Work Sans", "Segoe UI", "Roboto", "BlinkMacSystemFont", -apple-system, Helvetica, Arial, sans-serif;
	background-color: snow;
	color: #222;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 1024px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
html {
	border-top: 0.4em #d08770 solid;
}

h1, h2, h3 {
	line-height: 1.2;
}

a, a:visited {
	color: mediumblue;
}
.pagination {
	border-top: 0.1em solid;
	padding-top: 1em;
}
.paginationLink {
	padding: 0.25em;
}
.paginationArrow {
	font-size: 1.5em;
}
.paginationSelected {
	background-color: lightgray;
	font-weight: 700;
}
table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-collapse: collapse;
}
tr:nth-child(even) {
	background-color: lightgray;
}
td, th {
	padding: 0.5em;
	border: 1px solid #333;
}
.buttonLink, button, input[type="submit"] {
	font-family: inherit;
	color: black;
	padding: 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
	border: none;
	font-size: 1em;
	margin: 0.3em;
	text-decoration: none;
	background-color: #ebcb8b;
}
.bg-yellow {
	background-color: #ebcb8b;
}
.buttonLink {
	display: inline-block;
	padding: 0.4em !important;
}
a.buttonLink:visited {
	color: black !important;
}
button:hover, .buttonLink:hover, input[type="submit"]:hover {
	background-color: #ffe1a4;
}
.bg-cyan {
	background-color: #8fbcbb;
}
.buttonLink.bg-cyan:hover, button.bg-cyan:hover {
	background-color: #aee6e6;
}
.bg-blue, .alert-info {
	background-color: #88c0d0;
}
.buttonLink.bg-blue:hover, button.bg-blue:hover {
	background-color: #9adaeb;
}
.bg-green, .alert-success {
	background-color: #A3BE8C;
}
.buttonLink.bg-green:hover, button.bg-green:hover {
	background-color: #bddda2;
}
.bg-red, .alert-error, .errorlist {
	background-color: salmon;
}
.buttonLink.bg-red:hover, button.bg-red:hover {
	background-color: lightsalmon;
}
.bg-orange {
	background-color: #f19c82;
}
.bg-gray {
	background-color: #e5e9f0;
	border: black solid 0.15em;
}
.buttonLink.bg-gray:hover {
	background-color: gainsboro;
}
.buttonLink.bg-orange:hover, button.bg-orange:hover {
	background-color: #ffa68b;
}
.alert, .errorlist {
	border-radius: 0.5em;
	border: 2px #444 dashed;
	color: black;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow-wrap: break-word;
}
.alert {
	padding: 0.5em;
}
.hintInsightContainer {
	background-color: #e5e9f0;
	border-radius: 0.5em;
	padding: 0.25em 0.5em 0.5em 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-left: solid #b48ead;
	overflow-wrap: break-word;
}
blockquote {
	border-left: 0.3em solid #A3BE8C;
	padding-left: 0.5em;
}
.navbar {
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
}
.navLink, .navLink:visited {
	color: inherit !important;
	text-decoration: none;
	padding: 0.4em;
	display: inline-block;
}
.navLink:hover {
	background-color: lightgray;
	border-radius: 0.2em;
}
.navDiv {
	margin-right: 0.5em;
	padding-bottom: 0.1em;
	text-align: center;
}
.navSelected {
	border-bottom: solid 0.2em #A3BE8C;
}
textarea {
	display: block;
	max-width: 98%;
	font: inherit;
	color: inherit;
	background-color: #e5e9f0;
	border: 0.15em solid;
	border-radius: 0.5em;
	padding: 0.5em;
}
textarea::placeholder {
	color: gray;
}
textarea:focus {
	outline: none;
	border: darkcyan 0.2em solid;
}
input[type=email], input[type=password], input[type=text] {
    font: inherit;
    border-radius: 0.5em;
    padding: 0.3em;
    display: block;
    width: 250px;
}
/*.dark body {
	background-color: #2e3440;
	color: #e5e9f0;
}
.dark a, .dark a:visited {
	color: #88c0d0;
}
.dark tr:nth-child(even), .dark .paginationSelected {
	background-color: #4c566a;
}
.dark td, .dark th {
	border: 1px solid #d8dee9;
}
.dark .alert, .dark .errorlist {
	border-color: #e5e9f0;
}
.dark .hintInsightContainer {
	background-color: #434c5e;
}
.dark .bg-gray {
	background-color: #ddd;
}
.dark .buttonLink.bg-gray:hover {
	background-color: whitesmoke;
}
.dark .navLink:hover {
	background-color: #434C5E;
	border-radius: 0.2em;
}
.dark textarea {
	background-color: #434c5e;
}
.dark textarea::placeholder {
	color: lightgray;
}
.dark textarea:focus {
	outline: none;
	border: #88c0d0 0.2em solid;
}*/
@media (prefers-color-scheme: dark) {
	body {
		background-color: #2e3440;
		color: #e5e9f0;
	}
	a, a:visited {
		color: #88c0d0;
	}
	tr:nth-child(even), .paginationSelected {
		background-color: #4c566a;
	}
	td, th {
		border: 1px solid #d8dee9;
	}
	.alert, .errorlist {
		border-color: #e5e9f0;
	}
	.hintInsightContainer {
		background-color: #434c5e;
	}
	.bg-gray {
		background-color: #ddd;
	}
	.buttonLink.bg-gray:hover {
		background-color: whitesmoke;
	}
	.navLink:hover {
		background-color: #434C5E;
		border-radius: 0.2em;
	}
	textarea {
		background-color: #434c5e;
	}
	textarea::placeholder {
		color: lightgray;
	}
	textarea:focus {
		outline: none;
		border: #88c0d0 0.2em solid;
	}
}
@media screen and (max-width: 760px) {
	.navbar {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	#lastLinkNav {
		grid-column: span 3;
	}
	h1 {
		font-size: 1.6em;
	}
	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.15em;
	}
}