.modal {
	background-color: #2e3440 !important;
	color: #e5e9f0 !important;
}
.overlay {
    background-color: #e5e9f0ab !important;
}
main {
	background-color: #2e3440 !important;
	color: #e5e9f0 !important;
}