.overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
@keyframes fadeIn {  
    from {
        opacity: 0;
    }  
    to {  
        opacity: 1;  
    }  
}
@keyframes fadeOut {  
    from {
        opacity: 1;
    }  
    to {  
        opacity: 0;  
    }  
}
.visible {
    display: block;
    animation: fadeIn 0.2s ease-in;
}
.visibleSlower {
    display: block;
    animation: fadeIn 0.1s ease-in;
}
.modal {
    margin-left: auto;
	margin-right: auto;
    width: 90%;
	max-width: 900px;
    background-color: snow;
    margin-top: 2em;
    padding: 1em;
    border-radius: 1em;
    max-height: min(700px, calc(90% - 3em));
    overflow-y: auto;
    min-height: 150px;
}
.hidden {
    opacity: 0;
    transition: opacity 0.1s linear;
}
.fade {
    opacity: 1;
    transition: opacity 0.1s linear;
}
main {
    font-family: "Work Sans", "Segoe UI", "Roboto", "BlinkMacSystemFont", -apple-system, Helvetica, Arial, sans-serif;
	background-color: snow;
	color: #222;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 1024px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
body {
    margin-left: initial;
    margin-right: initial;
    max-width: initial;
    width: 100%;
    min-height: 100%;
    border-top: 0.4em #d08770 solid;
    margin-top: 0px;
}
html {
    border-top: initial;
}
.dark .modal {
    background-color: #2e3440;
    color: #e5e9f0;
}
.dark .overlay {
    background-color: #e5e9f0ab;
}
.dark main {
    background-color: #2e3440;
    color: #e5e9f0;
}