.modal {
	background-color: snow !important;
	color: #222 !important;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
main {
	background-color: snow !important;
	color: #222 !important;
}