<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Starlight: Journal</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">		
		<script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}" />
		<link rel="icon" href="{% static 'emoji/logo.png' %}" type="image/png" />
	</head>
    <body>
        <div>
			<div class="mx-auto flex-none p-2 text-center border-b dark:border-neutral min-[685px]:navbar">
					<div class="navbar-start">
					</div>
					<div class="navbar-center">
						<div class="flex justify-center items-center mt-3">
                    <svg class="mr-2 max-[685px]:inline" width="35" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="#269" d="M36 32c0 2.209-1.791 4-4 4H4c-2.209 0-4-1.791-4-4V4c0-2.209 1.791-4 4-4h28c2.209 0 4 1.791 4 4v28z"/><path fill="#F4900C" d="M11 9s7.29-4.557 21-4.969c.652-.02 2-.031 2 .969-6 9-9 23-9 23L11 9z"/><path fill="#FFAC33" d="M12 16S24 5 32 4.031C32.647 3.952 34 4 34 5c-7 4-12 19-12 19l-10-8z"/><path fill="#FFD983" d="M15.156 12.438c.826.727 2.388 1.164 3.471.972l4.892-.866c1.084-.192 1.613.478 1.178 1.488l-1.968 4.563c-.436 1.01-.369 2.63.148 3.602l2.335 4.384c.518.972.044 1.682-1.051 1.58l-4.947-.463c-1.095-.102-2.616.462-3.379 1.254l-3.45 3.577c-.763.792-1.585.562-1.827-.512L9.469 27.17c-.241-1.073-1.248-2.345-2.237-2.827l-4.467-2.175c-.989-.481-1.024-1.335-.078-1.896l4.274-2.534c.946-.561 1.845-1.911 1.997-3.001l.689-4.92c.152-1.09.953-1.387 1.779-.66l3.73 3.281z"/></svg>
                    <a class="text-3xl my-1">
                        Starlight</a>
                        </div>
					</div>
					 <div class="min-[685px]:navbar-end max-[685px]:mx-auto">
                    <ul class="menu menu-horizontal px-1">
                        <li><button class="btn-sm" id="colorModeIndBtn">
                            <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                        </button></li>
                        {% if user.is_authenticated %}
                            <li><a class="btn-sm" href="{% url 'profile' %}">{{ user.username }}</a></li>
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li><a class="btn-sm" href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a></li>
                            <li><a class="btn-sm" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                <script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
            </div>
        <main class="max-w-screen-xl mx-auto w-11/12">
		<p style="margin-top: 0em;">
			<a class="btn btn-sm btn-success mt-2 mr-1" href="{% url 'import' %}" style="margin-bottom: 0.6em;">Import insights from spreadsheet</a>
			<a href="{% url 'problems-list' %}" class="btn btn-sm btn-info mt-1">Add a new problem/view all problems</a>
			(<b>Note:</b> problems are automatically added when you create an insight for that problem.)
		</p>
			<div role="tablist" class="tabs-bordered my-2 min-[665px]:items-center">
				{% if request.GET.type == "entire" %}
					<a href="#" role="tab" class="tab tab-active px-2">&#x1F4C4; Show entire journal</a>
				{% else %}
					<a href="{% url 'journal' %}?type=entire" class="tab px-2">&#x1F4C4; Show entire journal</a>
				{% endif %}
				{% if request.GET.type == "week" %}
					<a href="#" class="tab tab-active px-2">&#x23F0; By week</a>
				{% else %}
					<a href="{% url 'journal' %}?type=week" class="tab px-2">&#x23F0; By week</a>
				{% endif %}
				{% if request.GET.type == "month" %}
					<a href="#" class="tab tab-active px-2">&#128197; By month</a>
				{% else %}
					<a href="{% url 'journal' %}?type=month" class="tab px-2">&#128197; By month</a>
				{% endif %}
				{% if request.GET.type == "year" %}
					<a href="#" class="tab tab-active px-2">&#x1F386; By year</a>
				{% else %}
					<a href="{% url 'journal' %}?type=year" class="tab px-2">&#x1F386; By year</a>
				{% endif %}
		</div>
		{% if request.GET.type == "entire" %}
			<a href="{% url 'journal' %}?type=entire&page=1" class="btn btn-sm btn-outline btn-warning mt-2">See most recent problems</a>
		{% elif request.GET.type == "week" %}
			<form method="GET" action="{% url 'journal' %}" style="margin-bottom: 0.5em;">
				<input type="text" name="type" value="week" style="display: none;">
				<label for="week">Week number (ISO):</label>
				<input type="number" name="week" value="{{ request.GET.week }}" class="input input-bordered input-sm max-w-20">
				<label for="year">ISO year:</label>
				<input type="number" name="year" value="{{ request.GET.year }}" class="input input-bordered input-sm max-w-20">
				<button type="submit" class="btn btn-sm btn-error mr-1">Find problems</button>
				<a href="{% url 'journal' %}?type=week&week={{ today_week }}&year={{ today_iso_year }}&page=1" class="btn btn-sm btn-warning mt-2">See most recent problems</a>
				<p style="margin-top: 0.3em;">
					<b>Note:</b> <a href="https://calendar.online/calendar-weeks/{{ request.GET.year }}" target="_blank" rel="noreferrer noopener">Use this website</a>
					to find the week numbers for ISO year <b>{{ request.GET.year }}</b>. Replace the end of the url for that link with your desired ISO year.
					<b>Note that for some days, the ISO year MAY NOT be the SAME as the actual year!</b> If you don't see the desired date, try another subtracting
					or adding from the year you are trying.
				</p>
			</form>
		{% elif request.GET.type == "month" %}
			<form method="GET" action="{% url 'journal' %}" style="margin-bottom: 0.5em;">
				<input type="text" name="type" value="month" style="display: none;">
				<label for="week">Month number (1 = Jan, 12 = Dec):</label>
				<input type="number" name="month" value="{{ request.GET.month }}" class="input input-bordered input-sm max-w-20">
				<label for="year">Year:</label>
				<input type="number" name="year" value="{{ request.GET.year }}" class="input input-bordered input-sm max-w-20">
				<button type="submit" class="btn btn-sm btn-error mr-1">Find problems</button>
				<a href="{% url 'journal' %}?type=month&month={{ today_month }}&year={{ today_year }}&page=1" class="btn btn-sm btn-warning mt-2">See most recent problems</a>
			</form>
		{% elif request.GET.type == "year" %}
			<form method="GET" action="{% url 'journal' %}" style="margin-bottom: 0.5em;">
				<input type="text" name="type" value="year" style="display: none;">
				<label for="year">Year:</label>
				<input type="number" name="year" value="{{ request.GET.year }}" class="input input-bordered input-sm max-w-20">
				<button type="submit" class="btn btn-sm btn-error mr-1">Find problems</button>
				<a href="{% url 'journal' %}?type=year&year={{ today_year }}&page=1" class="btn btn-sm btn-warning mt-2">See most recent problems</a>
			</form>
		{% endif %}
		{% if page_obj %}
			<table class="table">
				<tr>
					<th>View Problem</th>
					<th>Date started (m/d/y, UTC)</th>
					<th>Status</th>
					<th>Your Key Insights</th>
				</tr>
				{% for journal_problem in page_obj %}
					<tr>
						<td><a href="{{ journal_problem.problem.link }}" target="_blank" rel="noopener noreferrer" class="link text-blue-700 dark:text-blue-300">{{ journal_problem.problem.name }}</a></td>
						<td>{{ journal_problem.time_created|date:"M d, Y" }}</td>
						{% if journal_problem.status == "NS" %}
							<td class="bg-red-300" style="color: black !important;">
						{% elif journal_problem.status == "IP" %}
							<td class="bg-yellow-300" style="color: black !important;">
						{% elif journal_problem.status == "NHS" %}
							<td class="bg-blue-300" style="color: black !important;">
						{% elif journal_problem.status == "SO" %}
							<td class="bg-green-300" style="color: black !important;">
						{% endif %}
							<p><b>{{ journal_problem.get_status_display }}</b></p>
							<form method="POST">
                                {% csrf_token %}
                                {{ journal_problem.form.as_div }}
								<button type="submit" style="margin-top: 0.7em; border: 0.15em solid; padding: 0.5em; border-radius: 0.5em;">Update</button>
                            </form>
						</td>
						<td>
							<ul class="list-disc ml-5">
								{% for insight in journal_problem.insights %}
									<li>{{ insight.text }}</li>
								{% endfor %}
							</ul>
							<a href="{% url 'problems-view' journal_problem.problem.id %}" class="btn btn-sm btn-info my-1">Add/edit insights</a>
							<a href="{% url 'view-all-summary' %}?problem={{ journal_problem.problem.id }}&type=insight" class="btn btn-sm btn-success !h-fit p-2">View summary of key insights + similar problems</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<center><h3 class="text-lg p-2">You have no problems in the journal currently.</h3></center>
		{% endif %}
		<div class="pagination">
			{% if page_obj.has_previous %}
				{% if request.GET.type == "entire" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.previous_page_number }}&type=entire">&larr;</a>
				{% elif request.GET.type == "week" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.previous_page_number }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">&larr;</a>
				{% elif request.GET.type == "month" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.previous_page_number }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">&larr;</a>
				{% elif request.GET.type == "year" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.previous_page_number }}&type=year&year={{ request.GET.year }}">&larr;</a>
				{% endif %}
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
				{% if request.GET.type == "entire" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.next_page_number }}&type=entire">&rarr;</a>
				{% elif request.GET.type == "week" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.next_page_number }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">&rarr;</a>
				{% elif request.GET.type == "month" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.next_page_number }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">&rarr;</a>
				{% elif request.GET.type == "year" %}
					   <a class="link text-xl text-blue-700 dark:text-blue-300" href="?page={{ page_obj.next_page_number }}&type=year&year={{ request.GET.year }}">&rarr;</a>
				{% endif %}
			{% endif %}
		</div>
		<details>
			<summary>View links to all pages</summary>
			{% with ''|center:page_obj.paginator.num_pages as range %}
			{% for i in range %}
				{% if forloop.counter == page_obj.number %}
					{% if request.GET.type == "entire" %}
						   <a class="link text-blue-700 dark:text-blue-300 bg-neutral-300 dark:bg-neutral-700 p-1.5" href="?page={{ forloop.counter }}&type=entire">{{ forloop.counter }}</a>
					{% elif request.GET.type == "week" %}
						   <a class="link text-blue-700 dark:text-blue-300 bg-neutral-300 dark:bg-neutral-700 p-1.5" href="?page={{ forloop.counter }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "month" %}
						   <a class="link text-blue-700 dark:text-blue-300 bg-neutral-300 dark:bg-neutral-700 p-1.5" href="?page={{ forloop.counter }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "year" %}
						   <a class="link text-blue-700 dark:text-blue-300 bg-neutral-300 dark:bg-neutral-700 p-1.5" href="?page={{ forloop.counter }}&type=year&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% endif %}
				{% else %}
					{% if request.GET.type == "entire" %}
						   <a class="link text-blue-700 dark:text-blue-300 p-1.5" href="?page={{ forloop.counter }}&type=entire">{{ forloop.counter }}</a>
					{% elif request.GET.type == "week" %}
						   <a class="link text-blue-700 dark:text-blue-300 p-1.5" href="?page={{ forloop.counter }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "month" %}
						   <a class="link text-blue-700 dark:text-blue-300 p-1.5" href="?page={{ forloop.counter }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "year" %}
						   <a class="link text-blue-700 dark:text-blue-300 p-1.5" href="?page={{ forloop.counter }}&type=year&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% endwith %}
		</details>
		<div style="text-align: center; font-size: smaller; margin-top: 1em; padding: 0.5em;" class="border-t dark:border-neutral">
            <p>
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-starlight' %}">About</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-privacy' %}">Privacy Notice</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'about-rules' %}">Rules</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'problems-list' %}">Problems list</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'journal' %}">Journal</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="{% url 'profile' %}">Your profile</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" href="https://github.com/bkf2020/starlight" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
            <p>
                <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/59841/moon-symbol">Moon Symbol</a> icon by <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/9313/sun">Sun</a> icon by <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                Emojis from <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://twemoji.twitter.com/">Twemoji</a> by Twitter under <a class="link text-blue-700 dark:text-blue-300" target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/4.0/">CC by 4.0</a>
            </p>
        </div>
        </main>
    </body>
	<style>
		.problemId {
			display: none !important;
		}
	</style>
	<script type="text/javascript" src="{% static 'js/saveScrollPosition.js' %}"></script>
</html>
