<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Starlight: Journal</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">		
		<script type="text/javascript" src="{% static 'js/colorChange.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<link rel="icon" href="{% static 'emoji/logo.png' %}" type="image/png" />
	</head>
    <body style="max-width: 1400px !important;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
			<div style="display: flex; align-items: center;">
                <div style="display: flex; justify-content: center; align-items: center; margin-right: 0.5em;"><object style="display: inline-block;" data="{% static 'emoji/1f320.svg' %}" width="35" height="35"></object></div>
				<div><h1 style="display: inline-block;">Starlight: Journal</h1></div>
			</div>
			<div style="float: right; margin-left: 0.7em;">
                <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-left: 0.5em;">
                    <div style="margin-right: 0.5em; display: block;">
                        <button style="background-color: transparent; margin: initial; padding: initial; display: block;" id="colorModeIndBtn">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="{% static 'img/darkmode.png' %}" width="24" height="24" id="colorModeInd">
                            </div>
                        </button>
                    </div>
					<div>
				        {% if user.is_authenticated %}
					        <a href="{% url 'profile' %}">{{ user.username }}</a> |
					        <a href="{% url 'logout' %}">Logout</a>
				        {% else %}
                            <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> |
					        <a href="{% url 'register' %}">Register</a>
				        {% endif %}
                    </div>
                </div>
    			<script type="text/javascript" src="{% static 'js/colorChangeButton.js' %}"></script>
			</div>
		</div>
		<p style="margin-top: 0em;">
			<a class="bg-green buttonLink" href="{% url 'import' %}" style="margin-bottom: 0.6em;">Import insights from spreadsheet</a>
			<a href="{% url 'problems-list' %}" class="buttonLink bg-cyan">Add a new problem/view all problems</a>
			(<b>Note:</b> problems are automatically added when you create an insight for that problem.)
		</p>
		<div style="border-bottom: 0.1em solid; margin-bottom: 1em;"><nav class="navbar">
			<div class="navDiv">
				{% if request.GET.type == "entire" %}
					<a href="#" class="navLink navSelected">&#x1F4C4; Show entire journal</a>
				{% else %}
					<a href="{% url 'journal' %}?type=entire" class="navLink">&#x1F4C4; Show entire journal</a>
				{% endif %}
			</div>
			<div class="navDiv">
				{% if request.GET.type == "week" %}
					<a href="#" class="navLink navSelected">&#x23F0; By week</a>
				{% else %}
					<a href="{% url 'journal' %}?type=week" class="navLink">&#x23F0; By week</a>
				{% endif %}
			</div>
			<div class="navDiv">
				{% if request.GET.type == "month" %}
					<a href="#" class="navLink navSelected">&#128197; By month</a>
				{% else %}
					<a href="{% url 'journal' %}?type=month" class="navLink">&#128197; By month</a>
				{% endif %}
			</div>
			<div class="navDiv">
				{% if request.GET.type == "year" %}
					<a href="#" class="navLink navSelected">&#x1F386; By year</a>
				{% else %}
					<a href="{% url 'journal' %}?type=year" class="navLink">&#x1F386; By year</a>
				{% endif %}
			</div>
		</nav></div>
		{% if request.GET.type == "entire" %}
			<a href="{% url 'journal' %}?type=entire&page=1" class="buttonLink bg-orange">See most recent problems</a>
		{% elif request.GET.type == "week" %}
			<form method="GET" action="{% url 'journal' %}" style="margin-bottom: 0.5em;">
				<input type="text" name="type" value="week" style="display: none;">
				<label for="week">Week number (ISO):</label>
				<input type="number" name="week" value="{{ request.GET.week }}">
				<label for="year">ISO year:</label>
				<input type="number" name="year" value="{{ request.GET.year }}">
				<button type="submit">Find problems</button>
				<a href="{% url 'journal' %}?type=week&week={{ today_week }}&year={{ today_iso_year }}&page=1" class="buttonLink bg-cyan">See most recent problems</a>
				<p style="margin-top: 0.3em;">
					<b>Note:</b> <a href="https://calendar.online/calendar-weeks/{{ request.GET.year }}" target="_blank" rel="noreferrer noopener">Use this website</a>
					to find the week numbers for ISO year <b>{{ request.GET.year }}</b>. Replace the end of the url for that link with your desired ISO year.
					<b>Note that for some days, the ISO year MAY NOT be the SAME as the actual year!</b> If you don't see the desired date, try another subtracting
					or adding from the year you are trying.
				</p>
			</form>
		{% elif request.GET.type == "month" %}
			<form method="GET" action="{% url 'journal' %}" style="margin-bottom: 0.5em;">
				<input type="text" name="type" value="month" style="display: none;">
				<label for="week">Month number (1 = Jan, 12 = Dec):</label>
				<input type="number" name="month" value="{{ request.GET.month }}">
				<label for="year">Year:</label>
				<input type="number" name="year" value="{{ request.GET.year }}">
				<button type="submit">Find problems</button>
				<a href="{% url 'journal' %}?type=month&month={{ today_month }}&year={{ today_year }}&page=1" class="buttonLink bg-cyan">See most recent problems</a>
			</form>
		{% elif request.GET.type == "year" %}
			<form method="GET" action="{% url 'journal' %}" style="margin-bottom: 0.5em;">
				<input type="text" name="type" value="year" style="display: none;">
				<label for="year">Year:</label>
				<input type="number" name="year" value="{{ request.GET.year }}">
				<button type="submit">Find problems</button>
				<a href="{% url 'journal' %}?type=year&year={{ today_year }}&page=1" class="buttonLink bg-cyan">See most recent problems</a>
			</form>
		{% endif %}
		{% if page_obj %}
			<table>
				<tr>
					<th>View Problem</th>
					<th>Date started (m/d/y, UTC)</th>
					<th>Status</th>
					<th>Your Key Insights</th>
				</tr>
				{% for journal_problem in page_obj %}
					<tr>
						<td><a href="{{ journal_problem.problem.link }}" target="_blank" rel="noopener noreferrer">{{ journal_problem.problem.name }}</a></td>
						<td>{{ journal_problem.time_created|date:"M d, Y" }}</td>
						{% if journal_problem.status == "NS" %}
							<td class="bg-red" style="color: black !important;">
						{% elif journal_problem.status == "IP" %}
							<td class="bg-yellow" style="color: black !important;">
						{% elif journal_problem.status == "NHS" %}
							<td class="bg-blue" style="color: black !important;">
						{% elif journal_problem.status == "SO" %}
							<td class="bg-green" style="color: black !important;">
						{% endif %}
							<p><b>{{ journal_problem.get_status_display }}</b></p>
							<form method="POST">
                                {% csrf_token %}
                                {{ journal_problem.form.as_div }}
								<button type="submit" style="margin-top: 0.7em; border: 0.15em solid;">Update</button>
                            </form>
						</td>
						<td>
							<ul>
								{% for insight in journal_problem.insights %}
									<li>{{ insight.text }}</li>
								{% endfor %}
							</ul>
							<a href="{% url 'problems-view' journal_problem.problem.id %}" class="buttonLink bg-blue">Add/edit insights</a>
							<a href="{% url 'view-all-summary' %}?problem={{ journal_problem.problem.id }}&type=insight" class="buttonLink bg-green">View summary of key insights + similar problems</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<center><h3>You have no problems in the journal currently.</h3></center>
		{% endif %}
		<div class="pagination">
			{% if page_obj.has_previous %}
				{% if request.GET.type == "entire" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.previous_page_number }}&type=entire">&larr;</a>
				{% elif request.GET.type == "week" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.previous_page_number }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">&larr;</a>
				{% elif request.GET.type == "month" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.previous_page_number }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">&larr;</a>
				{% elif request.GET.type == "year" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.previous_page_number }}&type=year&year={{ request.GET.year }}">&larr;</a>
				{% endif %}
			{% endif %}
			<span>
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
				{% if request.GET.type == "entire" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.next_page_number }}&type=entire">&rarr;</a>
				{% elif request.GET.type == "week" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.next_page_number }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">&rarr;</a>
				{% elif request.GET.type == "month" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.next_page_number }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">&rarr;</a>
				{% elif request.GET.type == "year" %}
					   <a class="paginationLink paginationArrow" href="?page={{ page_obj.next_page_number }}&type=year&year={{ request.GET.year }}">&rarr;</a>
				{% endif %}
			{% endif %}
		</div>
		<details>
			<summary>View links to all pages</summary>
			{% with ''|center:page_obj.paginator.num_pages as range %}
			{% for i in range %}
				{% if forloop.counter == page_obj.number %}
					{% if request.GET.type == "entire" %}
						   <a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&type=entire">{{ forloop.counter }}</a>
					{% elif request.GET.type == "week" %}
						   <a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "month" %}
						   <a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "year" %}
						   <a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}&type=year&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% endif %}
				{% else %}
					{% if request.GET.type == "entire" %}
						   <a class="paginationLink" href="?page={{ forloop.counter }}&type=entire">{{ forloop.counter }}</a>
					{% elif request.GET.type == "week" %}
						   <a class="paginationLink" href="?page={{ forloop.counter }}&type=week&week={{ request.GET.week }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "month" %}
						   <a class="paginationLink" href="?page={{ forloop.counter }}&type=month&month={{ request.GET.month }}&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% elif request.GET.type == "year" %}
						   <a class="paginationLink" href="?page={{ forloop.counter }}&type=year&year={{ request.GET.year }}">{{ forloop.counter }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% endwith %}
		</details>
		<div style="text-align: center; font-size: smaller; border-top: 0.1em solid; margin-top: 1em;">
            <p>
                <a href="{% url 'about-starlight' %}">About</a> &#8226;
                <a href="{% url 'about-privacy' %}">Privacy Notice</a> &#8226;
                <a href="{% url 'about-rules' %}">Rules</a> &#8226;
                <a href="{% url 'problems-list' %}">Problems list</a> &#8226;
                <a href="{% url 'journal' %}">Journal</a> &#8226;
                <a href="{% url 'profile' %}">Your profile</a> &#8226;
                <a href="https://github.com/bkf2020/starlight" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/59841/moon-symbol">Moon Symbol</a> icon by <a target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                <a target="_blank" rel="noopener noreferrer" href="https://icons8.com/icon/9313/sun">Sun</a> icon by <a target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a> &#8226;
                Emojis from <a target="_blank" rel="noopener noreferrer" href="https://twemoji.twitter.com/">Twemoji</a> by Twitter under <a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/4.0/">CC by 4.0</a>
            </p>
        </div>
    </body>
	<style>
		.problemId {
			display: none !important;
		}
	</style>
	<script type="text/javascript" src="{% static 'js/saveScrollPosition.js' %}"></script>
</html>